{% extends '::base.html.twig' %}

{% set title = 'An Error Occurred' %}
{% set showTitleHeader = 'false' %}

{% block body %}

    <div style="background-image: url({{ asset('bundles/site/images/404_background.jpg') }}); background-repeat: no-repeat; background-attachment: scroll; background-clip: padding-box; background-size: cover; padding-top: 0px; padding-bottom: 300px;" data-prlx-speed="0.7" class="ww-custom stripe-parallax-bg vc_row-fluid">
        <div class="container transparent-box  ">
            {{ block('fancyboxSpan12ColumnsStart') }}
            <h1>{{ status_code }} {{ status_text }}</h1>
            <h2>Ooops! This is awkward!</h2>
            {{ block('fancyboxSpanColumnsEnd') }}
        </div>
    </div>

    {{ block('whiteSectionStart') }}

    {{ block('span12ColumnsStart') }}
    <h2>Wait, why am I here?</h2>
    <p class="x-large">It seems the page you are looking for something does not exist...</p>
    <p class="large">at least not at this location</p>
    <p align="left" class="x-large"><a class="ww-button sf-button blue large" style="font-size: 20px; padding: 10px 70px;" href="{{ pathOrUrl('_homepage') }}">TRY GOING TO OUR HOMEPAGE</a></p>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}

