{% use 'wrappers.html.twig' %}
{% use 'sidenav.html.twig' %}
{% use 'google_tracking.html.twig' %}

{% include('head.html.twig') %}

<body class="page page-id-5422 page-template page-template-full_width-php responsive pro-business wpb-js-composer js-comp-ver-4.3.2 vc_responsive" data-responsive="1" data-header-resize="0" data-logo-height="80" data-fixed-footer="0">

{{ block('googleTagManager') }}

<div id="loading"><span class="loading-icon"></span></div>

<div id="page-body-wraps" class="wrap">

    {# DOWNLOAD MT4 APPLICATION LINK #}
    {#files.metaquotes.net/xtrade.brokers/mt4/.xfsol4setup.exe#}

    <div id="page-wrap" class="wide">

	    <div style="background-repeat: no-repeat;background-attachment: scroll;background-clip: padding-box;background-size: cover;padding-top: 4px;padding-bottom: 4px" class="ww-top-wrapper ">
		    <div class="container">
			    <div class="vc_col-sm-5 wpb_column column_container">
				    <div class="vc_style">
					    <div class="wpb_text_column wpb_content_element">
						    <div class="wpb_wrapper">
							    <p>
								    <span><i class="left-to-right animate-element  fa fa-phone-square animation-triggered start-animation"> </i>1-844-ASK-IFXG<span style="font-size: small;"> </span></span><span> <i class="left-to-right animate-element  fa fa-envelope animation-triggered start-animation"> </i> prodesk@infinityfxglobal.com</span>
							    </p>
						    </div>
					    </div>
				    </div>
			    </div>
			    <div class="vc_col-sm-7 wpb_column column_container">
				    <div class="vc_style" style="text-align: right;">
					    <a href="{{ pathOrUrl('_create_an_account') }}" class="ww-button sf-button blue small preset slightlyrounded">CREATE AN ACCOUNT</a>
                        {#<a href="{{ pathOrUrl('_login') }}" class="ww-button sf-button small preset slightlyrounded"><i class="fa fa-lock"></i> LOGIN</a>#}
				    </div>
			    </div>
		    </div>
	    </div>

        {{ include('page_header.html.twig') }}

        {{ block('bodyContainerStartElement') }}

        {% if title is defined %}
			{% if showTitleHeader is not defined or showTitleHeader != 'false' %}
				{{ block('pageTitleWrapStart') }}
				<div class="ww-title ol-xs-12 col-sm-6 col-md-6 col-lg-6 ">
					<h3>{{ title }}</h3>
				</div>
				{{ block('pageTitleWrapEnd') }}
			{% endif %}
        {% endif %}

        {% block body %}{% endblock %}

        {{ block('bodyContainerEndElement') }}

        {{ include('page_footer.html.twig') }}

    </div>
</div>

<a id="to-top"><i class="fa fa-angle-up"></i></a>

{% include('js_footer_includes.html.twig') %}

{% block javascripts %}{% endblock %}

</body>

</html>
