{% use 'wrappers.html.twig' %}
{% use 'newsletter_signup.html.twig' %}

{% block bottomContent %}
    {{ block('createAccount') }}
{% endblock %}

{% block createAccountLogin %}
    {{ block('bottomSectionStart') }}
	<div class="row">
	    {{ block('span5ColumnsStart') }}
	    <p align="right" class="x-large"><a class="ww-button sf-button blue large" style="font-size: 20px; padding: 10px 70px;" href="{{ pathOrUrl('_create_an_account') }}">CREATE AN ACCOUNT</a></p>
	    {{ block('spanColumnsEnd') }}
	    {{ block('span2ColumnsStart') }}
	    <p align="center" class="x-large" style="padding-top: 10px;">OR</p>
	    {{ block('spanColumnsEnd') }}
	    {{ block('span5ColumnsStart') }}
	    <p align="left" class="x-large"><a class="ww-button sf-button large" style="font-size: 20px; padding: 10px 70px;" href="{{ pathOrUrl('_login') }}"><i class="fa fa-lock"></i> LOGIN</a></p>
	    {{ block('spanColumnsEnd') }}
	</div>
    {{ block('bottomSectionEnd') }}
{% endblock %}

{% block createAccount %}
    {{ block('bottomSectionStart') }}
	<div class="row">
	    {{ block('span6ColumnsStart') }}
	    <p align="right" class="x-large" style="padding-top: 10px;">Secure your financial future now.</p>
	    {{ block('spanColumnsEnd') }}
	    {{ block('span6ColumnsStart') }}
		<p align="left" class="x-large"><a class="ww-button sf-button blue large" style="font-size: 20px; padding: 10px 70px;" href="{{ pathOrUrl('_create_an_account') }}">CREATE AN ACCOUNT</a></p>
	    {{ block('spanColumnsEnd') }}
	</div>
    {{ block('bottomSectionEnd') }}
{% endblock %}