<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{% if title is defined %}{{ title }} - {% endif %}IFXG Wealth Management</title>
    {% block stylesheets %}{% endblock %}
    <meta name="description" content="{% block meta_description %}PRO Business - Responsive Multi-Purpose Theme, Great Wordpress theme, wordpress templates{% endblock %}">
    <meta name="keywords" content="PRO Business - Responsive Multi-Purpose Theme , Great Wordpress theme, wordpress templates">
    <link rel="shortcut icon" href="{{ asset('samllerproicon.png') }}" />

	<link rel="stylesheet" id="tp-opensans-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="tp-open-sans-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="tp-raleway-css" href="//fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="tp-droid-serif-css" href="//fonts.googleapis.com/css?family=Droid+Serif%3A400%2C700&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="noo-top-menu-font71-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=cyrillic-ext%2Clatin%2Clatin-ext%2Cgreek-ext%2Ccyrillic%2Cgreek%2Cvietnamese&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="noo-sub_menu-font71-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=cyrillic-ext%2Clatin%2Clatin-ext%2Cgreek-ext%2Ccyrillic%2Cgreek%2Cvietnamese&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="noo-top-menu-font22-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=cyrillic-ext%2Clatin%2Clatin-ext%2Cgreek-ext%2Ccyrillic%2Cgreek%2Cvietnamese&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="noo-sub_menu-font22-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=cyrillic-ext%2Clatin%2Clatin-ext%2Cgreek-ext%2Ccyrillic%2Cgreek%2Cvietnamese&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="noo-top-menu-font55-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=cyrillic-ext%2Clatin%2Clatin-ext%2Cgreek-ext%2Ccyrillic%2Cgreek%2Cvietnamese&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="noo-sub_menu-font55-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=cyrillic-ext%2Clatin%2Clatin-ext%2Cgreek-ext%2Ccyrillic%2Cgreek%2Cvietnamese&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="noo-top-menu-font5-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=cyrillic-ext%2Clatin%2Clatin-ext%2Cgreek-ext%2Ccyrillic%2Cgreek%2Cvietnamese&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="noo-sub_menu-font5-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=cyrillic-ext%2Clatin%2Clatin-ext%2Cgreek-ext%2Ccyrillic%2Cgreek%2Cvietnamese&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="noo-top-menu-font6-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=cyrillic-ext%2Clatin%2Clatin-ext%2Cgreek-ext%2Ccyrillic%2Cgreek%2Cvietnamese&#038;ver=4.0.1" type="text/css" media="all"/>
	<link rel="stylesheet" id="noo-sub_menu-font6-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=cyrillic-ext%2Clatin%2Clatin-ext%2Cgreek-ext%2Ccyrillic%2Cgreek%2Cvietnamese&#038;ver=4.0.1" type="text/css" media="all"/>
    <link rel="stylesheet" id="indie-flower-css" href="//fonts.googleapis.com/css?family=Indie+Flower" type="text/css" media="all"/>

	{% stylesheets
	'bundles/site/css/bootstrap.min.css'
	'bundles/site/css/bootstrap-responsive.min.css'
	'bundles/site/css/font-awesome.css'
	'bundles/site/css/ww-js-composer-front.css'
	'bundles/site/css/main.css'
	'bundles/site/css/preset2.css'
	'bundles/site/css/style.css'
	'bundles/site/js/wwPlayer/mediaelementplayer.css'
	'bundles/site/css/ww-animate-elements.css'
	'bundles/site/css/flexslider.css'
	'bundles/site/css/colorbox.css'
	'bundles/site/js/noo-menu/assets/css/style.min.css'
	'bundles/site/js/noo-menu/assets/css/default.min.css'
	'bundles/site/js/noo-menu/assets/css/responsive.min.css'
	'bundles/site/js/layerslider/css/layerslider.css'
	'bundles/site/css/ifxg.css'
	filter='uglifycss' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	
	{% javascripts
	'bundles/site/js/jquery/jquery.js'
	'bundles/site/js/jquery/jquery-ui.js'
	'bundles/site/js/jquery/jquery-migrate.min.js'
	'bundles/site/js/layerslider/js/greensock.js'
	'bundles/site/js/layerslider/js/layerslider.transitions.js'
	'bundles/site/js/layerslider/js/layerslider.kreaturamedia.jquery.js'
	'bundles/site/js/revslider/rs-plugin/js/jquery.themepunch.tools.min.js'
	'bundles/site/js/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js'
	'bundles/site/js/essential-grid/public/assets/js/jquery.themepunch.essential.min.js'
	'bundles/site/js/noo-menu/assets/js/waypoints.min.js'
	'bundles/site/js/noo-menu/assets/js/waypoints-sticky.min.js'
	'bundles/site/js/noo-menu/assets/js/script.js'
	'bundles/site/js/animate-elements.js'
	'bundles/site/js/jquery.dcjqaccordion.2.9.js'
	'bundles/site/js/ww_custom_script.js'
	filter='uglifyjs2' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<!-- this, preferably, goes inside head element: -->
	<!--[if lt IE 9]>
	{% javascripts
	'bundles/site/js/flashcanvas.js'
	filter='uglifyjs2' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<![endif]-->

</head>