{% javascripts
'bundles/site/js/jquery.easing.js'
'bundles/site/js/bootstrap-tooltip.js'
'bundles/site/js/main.js'
'bundles/site/js/js_composer/assets/js/js_composer_front.js'
'bundles/site/js/jquery.dcjqaccordion.2.9.js'
'bundles/site/js/jquery_cookie.js'
filter='uglifyjs2' %}
	<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    var ww_custom_script_options = {
        "show_page_loader": "1"
    };
</script>

{% javascripts
'bundles/site/js/ww_custom_script.js'
'bundles/site/js/animate-elements.js'
'bundles/site/js/js_composer/assets/lib/jquery-waypoints/waypoints.min.js'
'bundles/site/js/js_composer/assets/lib/isotope/dist/isotope.pkgd.min.js'
'bundles/site/js/jquery.jm-direction.js'
'bundles/site/js/jquery.colorbox.js'
filter='uglifyjs2' %}
	<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    var ww_custom_portfolio = {
    };
    var ww_custom_portfolio_ajaxurl = {};
</script>

{% javascripts
'bundles/site/js/ww_custom_portfolio.js'
'bundles/site/js/jquery.bxslider.js'
'bundles/site/js/jquery.jm-bxslider.js'
filter='uglifyjs2' %}
	<script src="{{ asset_url }}"></script>
{% endjavascripts %}
