{% block newsletterBottom %}
    <div style="background-color: #f4f4f4;background-image: url({{ asset('bundles/site/images/bg-jm-bottom.jpg') }});background-repeat: repeat-x;background-attachment: scroll;background-clip: padding-box;padding-top: 20px;padding-bottom: 20px" class="ww-bottom-wrapper ">
        <div class="container">
            <div class="vc_col-sm-12 wpb_column column_container">
                <div class="vc_style">
                    <div class="ww-newsletter wrapper ww-newsletter-style1">
                        <div class="ww-icon">
                            <img src="{{ asset('bundles/site/images/icon-fly.png') }}" alt="Icon newsletter">
                        </div>
                        <div class="headding">
                            Subcribe to <br> our newsletter
                        </div>
                        <div class="subscription-form">
                            <form method="post" onsubmit="return newsletter_check(this)" action="//demo.cmssuperheroes.com/Wordpress/probusiness/wp-content/plugins/newsletter/do/subscribe.php">
                                <input type="hidden" value="widget" name="nr">
                                <p>
                                    <input type="email" onblur="if (this.value=='') this.value=this.defaultValue" onclick="if (this.defaultValue==this.value) this.value=''" value="Email" name="ne" required="" class="newsletter-email">
                                </p>
                                <p>
                                    <input type="submit" value="Subscribe" class="newsletter-submit ww-button">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}