{% use 'bottom_content.html.twig' %}

<section id="ww_footer" style="bottom: 0px; position: fixed; width: 100%;">
    <div class="ww-container">
        <div class="row-fluid">

            {{ block('bottomContent') }}

            <div class="ww-footertop-wrapper " style="background-color: #1B242D;background-repeat: no-repeat;background-attachment: scroll;background-clip: padding-box;background-size: cover;padding-top: 30px;padding-bottom: 30px">
                <div class="container   ">
                    <div class="row">
                        <div class="vc_col-sm-5 wpb_column column_container  ">
                            <div class="vc_style">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3>About InfinityFXGlobal</h3>
                                        <p>We are an independent Forex brokerage based offshore. We have a strategic partnership with London-based <a href="{{ pathOrUrl('http://www.xopenhub.pro/') }}">X Open Hub</a> and <a href="{{ pathOrUrl('http://www.hsbc.com/') }}">HSBC</a> Bank&hellip;</p>
                                        <p><a href="{{ pathOrUrl('_about') }}" class="ww-button sf-button blue small preset slightlyrounded">READ MORE</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vc_col-sm-2 wpb_column column_container  ">
                            <div class="vc_style">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3><a href="{{ pathOrUrl('_about') }}">ABOUT US</a></h3>
                                        <ul>
                                            <li><a href="{{ pathOrUrl('_pricing_advantage') }}">Pricing Advantage</a></li>
                                            <li><a href="{{ pathOrUrl('_trading_technology') }}">Trading Technology</a></li>
                                            <li><a href="{{ pathOrUrl('_financial_security') }}">Financial Security</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vc_col-sm-2 wpb_column column_container  ">
                            <div class="vc_style">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3><a href="{{ pathOrUrl('_support') }}">SUPPORT</a></h3>
                                        <ul>
                                            <li><a href="{{ pathOrUrl('_support') }}">Contact Us</a></li>
                                            <li><a href="{{ pathOrUrl('_frequently_asked_questions') }}">F.A.Q.</a></li>
                                            <li><a href="{{ pathOrUrl('_forms_agreements') }}">Forms &amp; Agreement</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vc_col-sm-3 wpb_column column_container  ">
                            <div class="vc_style">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h4>CONTACT INFORMATION</h4>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="container   ">
                                        <div class="row">
                                            <div class="vc_col-sm-2 wpb_column column_container  ">
                                                <div class="vc_style">
                                                    <i class="scale-up animate-element fa fa-coffee animation-triggered start-animation"> </i>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-10 wpb_column column_container  ">
                                                <div class="vc_style">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>InfinityFXGlobal</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="container   ">
                                        <div class="row">
                                            <div class="vc_col-sm-2 wpb_column column_container  ">
                                                <div class="vc_style">
                                                    <i class="fade-in animate-element fa fa-phone-square animation-triggered start-animation"> </i>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-10 wpb_column column_container  ">
                                                <div class="vc_style">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>1-844-ASK-IFXG (275-4394)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="container">
                                        <div class="row">
                                            <div class="vc_col-sm-2 wpb_column column_container  ">
                                                <div class="vc_style">
                                                    <i class="fade-in animate-element fa fa-envelope animation-triggered start-animation"> </i>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-10 wpb_column column_container  ">
                                                <div class="vc_style">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><a href="mailto:prodesk@infinityfxglobal.com">prodesk@infinityfxglobal.com</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="ww-footer-wrapper ">
                <div class="container">
                    <div class="row">
	                    <p>&copy; BENABI Consulting Inc., dba InfinityFXGlobal. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
	        <div class="ww-footer-wrapper ">
                <div class="container">
                    <div class="row">
                        {#IFXG Limited is registered, and in good standing, with the government of Belize and is regulated by their <a target="_blank" href="{{ pathOrUrl('http://www.fsaseychelles.sc/index.php/download') }}">Financial Services Authority</a> (FSA).#}
                        <p class="small"><strong>NOTICE:</strong> The information contained in this site is ONLY intended for information purposes. The purpose is to find Independent Investors and/or businesses interested in our Managed Forex opportunities. It is NOT for the purpose of seeking to engage U.S. entities, residents, or individuals to serve as their direct trader and/or money manager. Further, this information should NOT be regarded as an offer or solicitation to any person in any jurisdiction to buy or sell any particular currency, nor regarded as recommendation to buy or sell any particular currency.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
