<header id="ww_stick_header" style="display: none;" class="">
    <div class="ww-stick-header-wrapper fixed" style="position: fixed;">
        <div class="container">
            <div class="row-fluid">
                <div class="ww-stick-logo-wrapper ol-xs-12 col-sm-6 col-md-3 col-lg-3"><a href="{{ pathOrUrl('_homepage') }}"> <img src="{{ asset('bundles/site/images/ifxg-logo.png') }}" class="image-logo" alt=""/> </a></div>
                <div class="ww-stick-menu-wrapper ww-stick-menu ww-menu ol-xs-12 col-sm-6 col-md-9 col-lg-9">
                    <a href="#" id="toggle-nav-stick"><i class="fa fa-bars">&nbsp; </i></a>
                    <nav>
                        <ul class="sf-menu ww-menu level-0">
                            <div data-offset="0" data-sticky="0" id="noo_menu_5" class="noonav noo_menu_5 noo-nav-mb3 horizontal-down">
                                <div class=" noo-megamenu horizontal " data-trigger="hover">
                                    {{ knp_menu_render('SiteBundle:Builder:mainMenu', {'template': 'SiteBundle:Menu:knp_menu.html.twig'}) }}
                                </div>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <nav class="ww-nav-stick" style="display:none;">
            <ul class="sf-menu ww-stick-menu-mobile">
                <div data-offset="0" data-sticky="0" id="noo_menu_5" class="noonav noo_menu_5 noo-nav-mb3 horizontal-down">
                    <div class=" noo-megamenu horizontal " data-trigger="hover">
                        {{ knp_menu_render('SiteBundle:Builder:mainMenu', {'template': 'SiteBundle:Menu:knp_menu.html.twig'}) }}
                    </div>
                </div>
            </ul>
        </nav>
    </div>
</header>

<header id="ww_header" class="ww-shadown">
    <div class="ww-container row-fluid">
        <div class="desktop-header">
            <div class="{% if app.request.get('_route') == '_homepage' %}ww-header-transparent{% else %}ww-header-wrapper{% endif %} {% if app.request.get('_route') == '_homepage' %}{% else %}row-fluid{% endif %}" style="{% if app.request.get('_route') == '_homepage' %}background-repeat: no-repeat;background-attachment: scroll;background-clip: padding-box;background-size: cover;{% endif %}">
                <div class="container   ">
                    <div class="row">
                        <div class="vc_col-sm-3 logo-wrapper wpb_column column_container  ">
                            <div class="vc_style">
                                <div class="ww-logo ww-logo-left"><a href="{{ pathOrUrl('_homepage') }}"> <img style="padding: 0px 0px 0px 0px;" src="{{ asset('bundles/site/images/ifxg-logo.png') }}" class="image-logo " alt=""/> </a></div>
                            </div>
                        </div>
                        <div class="vc_col-sm-9 wpb_column column_container  ">
                            <div class="vc_style">
                                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                    <div class="wpb_wrapper"><a href="#" id="toggle-nav"><i class="fa fa-bars">&nbsp; </i></a></div>
                                </div>
                                <div class="ww-menu-wrap  ww-menu-style6 horizontal">
                                    <div class="ww-content">
                                        <div class="ww-menu ww-menu-horizontal horizontal menu-disbale-border menu-hover">
                                            <nav class="ww-menu-right ww-menu-lineheight-80">
                                                <ul class="sf-menu ww-menu level-0">
                                                    <div data-offset="0" data-sticky="0" id="noo_menu_5" class="noonav noo_menu_5 noo-nav-mb3 horizontal-down">
                                                        <div class=" noo-megamenu horizontal " data-trigger="hover">
                                                            {{ knp_menu_render('SiteBundle:Builder:mainMenu', {'template': 'SiteBundle:Menu:knp_menu.html.twig'}) }}
                                                        </div>
                                                    </div>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	    <div class="mobile-header container">
		    <div class="ol-xs-12 col-sm-6 col-md-6 col-lg-6 logo-wrapper">
			    <div class="ww-logo ww-logo-left">
				    <a href="{{ pathOrUrl('_homepage') }}"><img src="{{ asset('bundles/site/images/ifxg-logo.png') }}" class="image-logo" alt="" /></a>
			    </div>
		    </div>
		    <div class="ol-xs-12 col-sm-6 col-md-6 col-lg-6">
			    <div class="wpb_text_column wpb_content_element ">
				    <div class="wpb_wrapper">
					    <p>
						    <a href="#" id="toggle-nav-mobiles"><i class="fa fa-bars"></i></a>
					    </p>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
	<div class="ww-submenu-mobiles">
		<div class="no-container">
			<ul class="menu menu-mobile">
				<div data-offset="0" data-sticky="0" id="noo_menu_5" class="noonav noo_menu_5 noo-nav-mb3 horizontal-down">
					<div class=" noo-megamenu horizontal " data-trigger="hover">
						{{ knp_menu_render('SiteBundle:Builder:mainMenu', {'template': 'SiteBundle:Menu:knp_menu.html.twig'}) }}
					</div>
				</div>
			</ul>
		</div>
	</div>
</header>
