{% use 'wrappers.html.twig' %}

{% block aboutSideNav %}
    {{ block('sideNavStart') }}
        <div class="heading"><h4>Related Links</h4></div>
        <ul>
            <li class="cat-item {% if app.request.get('_route') == '_about' %}active{% endif %}"><a href="{{ pathOrUrl('_about') }}">About Us</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_pricing_advantage' %}active{% endif %}"><a href="{{ pathOrUrl('_pricing_advantage') }}">Pricing Advantage</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_trading_technology' %}active{% endif %}"><a href="{{ pathOrUrl('_trading_technology') }}">Trading Technology</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_financial_security' %}active{% endif %}"><a href="{{ pathOrUrl('_financial_security') }}">Financial Security</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_forex' %}active{% endif %}"><a href="{{ pathOrUrl('_forex') }}">Forex</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_leverage' %}active{% endif %}"><a href="{{ pathOrUrl('_leverage') }}">Leverage</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_making_and_losing_money' %}active{% endif %}"><a href="{{ pathOrUrl('_making_and_losing_money') }}">Making and Losing Money</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_buying_and_selling' %}active{% endif %}"><a href="{{ pathOrUrl('_buying_and_selling') }}">Buying and Selling</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_the_risks' %}active{% endif %}"><a href="{{ pathOrUrl('_the_risks') }}">The Risks</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_currency_quotes' %}active{% endif %}"><a href="{{ pathOrUrl('_currency_quotes') }}">Currency Quotes</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_most_tradeable_currency_pairs' %}active{% endif %}"><a href="{{ pathOrUrl('_most_tradeable_currency_pairs') }}">Most Tradeable Currency Pairs</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_what_moves_a_currency' %}active{% endif %}"><a href="{{ pathOrUrl('_what_moves_a_currency') }}">What Moves a Currency?</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_hedging' %}active{% endif %}"><a href="{{ pathOrUrl('_hedging') }}">Hedging</a></li>
        </ul>
    {{ block('sideNavEnd') }}
{% endblock %}

{% block supportSideNav %}
    {{ block('sideNavStart') }}
        <div class="heading"><h4>Related Links</h4></div>
        <ul>
            <li class="cat-item {% if app.request.get('_route') == '_support' %}active{% endif %}"><a href="{{ pathOrUrl('_support') }}">Contact Us</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_frequently_asked_questions' %}active{% endif %}"><a href="{{ pathOrUrl('_frequently_asked_questions') }}">Frequently Asked Questions</a></li>
            <li class="cat-item {% if app.request.get('_route') == '_forms_agreements' %}active{% endif %}"><a href="{{ pathOrUrl('_forms_agreements') }}">Forms &amp; Agreements</a></li>
        </ul>
    {{ block('sideNavEnd') }}
{% endblock %}

