{% block pageTitleWrapStart %}
<div class="show-title show-breadcrumb" id="ww_main_header">
    <div class="container">
        <div class="row-fluid">
{% endblock %}

{% block pageTitleWrapEnd %}
        </div>
    </div>
</div>
{% endblock %}

{% block bodyContainerStartElement %}
    <section id="ww_main_body" class="" style="position: relative; z-index: 1;">
        <div class="ww-container">
            <div id="ww_main_content">
                <div class="row-fluid">
                    <div id="post-5422" class="ol-xs-12 col-sm-12 col-md-12 col-lg-12">
{% endblock %}

{% block bodyContainerEndElement %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block customDarkStartElement %}
<div class="ww-custom  custom-dark">
    <div class="container">
        <div class="vc_col-sm-12 jm-portpolio-home wpb_column column_container top-to-bottom animate-element ">
            <div class="vc_style">
                <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_appear">
                    <div class="wpb_wrapper">
{% endblock %}

{% block customDarkEndElement %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block sideNavStart %}
<div class="ww-widget widget widget_categories">
{% endblock %}

{% block sideNavEnd %}
</div>
{% endblock %}


{# WHITE SECTION WRAPPERS #}
{% block whiteSectionStart %}
<div class=" white-container">
    <div class="container ">
{% endblock %}

{% block whiteSectionEnd %}
    </div>
</div>
{% endblock %}


{# GREY SECTION WRAPPERS #}
{% block greySectionStart %}
<div class=" grey-container">
    <div class="container ">
{% endblock %}

{% block greySectionEnd %}
    </div>
</div>
{% endblock %}


{# BOTTOM SECTION WRAPPER #}
{% block bottomSectionStart %}
    <div class=" bottom-content-container">
        <div class="container ">
{% endblock %}

{% block bottomSectionEnd %}
        </div>
    </div>
{% endblock %}


{# HIGHLIGHTED SECTION WRAPPER #}
{% block highlightSectionStart %}
<div class="ww-custom  bg-color" style="background-repeat: no-repeat;background-attachment: scroll;background-clip: padding-box;background-size: cover;padding-top: 25px;padding-bottom: 25px">
    <div class="container">
        <div class="vc_col-sm-12 wpb_column column_container">
            <div class="vc_style">
                <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
{% endblock %}

{% block highlightSectionEnd %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{# HIGHLIGHTED GREY SECTION WRAPPER #}
{% block highlightGreySectionStart %}
<div style="background-repeat: no-repeat;background-attachment: scroll;background-clip: padding-box;padding-top: 10px;padding-bottom: 10px" class="ww-custom ">
    <div class="container">
        <div class="vc_col-sm-12 wpb_column column_container welcome">
            <div class="vc_style">
                <div class="">
                    <div class="container">
{% endblock %}

{% block highlightGreySectionEnd %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{# COLUMN WRAPPERS #}

{# SPAN 12 COLUMNS #}
{% block span12ColumnsStart %}
<div class="vc_col-sm-12 wpb_column column_container ">
    <div class="vc_style">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
{% endblock %}

{# FANCYBOX SPAN 12 COLUMNS #}
{% block fancyboxSpan12ColumnsStart %}
<div class="vc_col-sm-12 wpb_column column_container  ">
    <div class="vc_style">
        <div class="column_container">
            <div class="ww-fancy-box wrapper fancy-box-style-9">
                <div class="ww-fancy-box-content">
{% endblock %}

{# SPAN 8 COLUMNS #}
{% block span8ColumnsStart %}
<div class="vc_col-sm-8 wpb_column column_container">
    <div class="vc_style">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
{% endblock %}

{# SPAN 7 COLUMNS #}
{% block span7ColumnsStart %}
<div class="vc_col-sm-7 wpb_column column_container">
    <div class="vc_style">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
{% endblock %}

{# SPAN 6 COLUMNS #}
{% block span6ColumnsStart %}
<div class="vc_col-sm-6 wpb_column column_container">
	<div class="vc_style">
		<div class="wpb_text_column wpb_content_element ">
			<div class="wpb_wrapper">
{% endblock %}

{# SPAN 5 COLUMNS #}
{% block span5ColumnsStart %}
<div class="vc_col-sm-5 wpb_column column_container">
    <div class="vc_style">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
{% endblock %}

{# SPAN 4 COLUMNS #}
{% block span4ColumnsStart %}
<div class="vc_col-sm-4 wpb_column column_container">
    <div class="vc_style">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
{% endblock %}

{# SPAN 3 COLUMNS #}
{% block span3ColumnsStart %}
<div class="vc_col-sm-3 wpb_column column_container">
    <div class="vc_style">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
{% endblock %}

{# SPAN 2 COLUMNS #}
{% block span2ColumnsStart %}
<div class="vc_col-sm-2 wpb_column column_container">
    <div class="vc_style">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
{% endblock %}

{# SPAN 1 COLUMNS #}
{% block span1ColumnsStart %}
<div class="vc_col-sm-1 wpb_column column_container">
    <div class="vc_style">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
{% endblock %}


{% block spanColumnsEnd %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{# FANCYBOX SPAN COLUMN END #}
{% block fancyboxSpanColumnsEnd %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
