.noonav:after {
    clear: both;
}
.noonav:before,
.noonav:after {
    display: table;
    content: " ";
    line-height: 0;
}
.noonav{
	*zoom: 1;
	/* position: relative; */
}
.noo-megamenu {
}
@media (min-width: 767px) {
	.noo-megamenu.vertical{
		height: auto !important;
	}
}
.noo-megamenu ul{
	list-style: none;
}
.noo-nav {
	/* position: relative !important; */
	margin: 0;
	padding:0;
} 
.noo-nav a {
	text-decoration: none;
	color: #0088CC
}
.noo-nav a > i{
	margin: 0 3px 0 0;
}
.noo-nav > li{
	float: left;
	position: relative;
}
.noo-nav > li:hover .noo-nav-child{

}
.horizontal-down .noo-megamenu .mega-align-justify,
.horizontal-up .noo-megamenu .mega-align-justify  {
  position: static !important;
}
.vertical .noo-nav > li{
	 float: none;
}
.noo-nav > li > a {
    line-height: 14px;
    padding-left: 12px ;
    padding-right: 12px ;
	padding-top: 0px ;
	padding-bottom: 0px;
	line-height: 18px;
	display: block !important;
	color:#0088CC;
	font-weight: bold;
	overflow: hidden;
}
.noo-nav > li > a:hover {
	text-decoration: none;
	color:#005580
}
.noo-megamenu .caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top-style:solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	border-top-color: inherit;
	border-top-width: 4px;
}
.horizontal-up .noo-megamenu .caret{
	border-top: none;
	border-bottom: 4px solid #000;
}
.noo-nav li.dropdown.open .caret,
.noo-nav li.dropdown.open.active .caret,
.noo-nav li.dropdown.open a:hover .caret {
	border-top-color: inherit;
	border-bottom-color: inherit;
	opacity: 1;
	filter: alpha(opacity=100);
}

.noo-megamenu .dropdown .caret {
	margin-left: 6px;
}
.noo-megamenu.vertical .dropdown .caret{
	display: none !important;
}
.noo-megamenu .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 0px 0 0;
	list-style: none;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.noo-megamenu .dropdown-menu .mega-nav > li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 20px;
    white-space: nowrap;
}
.horizontal-up .noo-megamenu .dropdown-menu{
	bottom: 100%;
    top: auto !important;
}
.vertical-rtl .noo-nav{
	text-align: right;
}


.vertical-ltr .noo-megamenu .dropdown-menu{
	left:100%;
    top: 0;
}

.noo-nav .dropdown-toggle:hover .caret {
	border-top-color: inherit;
}
.vertical .noo-megamenu .dropdown-submenu {
    position: relative;
}
.noo-megamenu  .dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: 0px;
	margin-left: -1px;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
}

.vertical-rtl .noo-megamenu .dropdown-menu{
	left: auto;
    right: 100%;
    top: 0;
    
}

.noo-megamenu .mega > .mega-dropdown-menu {
  min-width: 200px;
  display: block;
}
.noo-megamenu .mega > .mega-dropdown-menu {
  opacity: 0;
  visibility: hidden;
}
.noo-megamenu .mega.open > .mega-dropdown-menu,
.noo-megamenu .mega:hover > .mega-dropdown-menu,
.noo-megamenu .mega.dropdown-submenu:hover > .mega-dropdown-menu {
  display: block;
}

.noo-megamenu .dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-right-color: transparent ;
	border-top-color: transparent ;
	border-bottom-color: transparent;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-left-color: inherit;
	margin-top: 5px;
	margin-right: -10px;
}
.vertical-rtl .noo-megamenu .dropdown-submenu > a:after{
    border-width: 4px 4px 4px 0;
    float: left;
    border-left-color: transparent;
    border-right-color: inherit;
    margin-left: -10px;
    margin-top: 5px;
    float: left;
}
.noo-megamenu .dropdown-submenu:hover > a:after {
	
}
.noo-megamenu  .dropdown .dropdown-menu .nav-header {
	padding-left: 20px;
	padding-right: 20px;
}

.vertical .noo-nav > li.dropdown > a:after{
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
}
.vertical-rtl .noo-nav > li.dropdown > a:after{
	border-color: transparent #FFFFFF;
    border-style: solid;
    border-width: 4px 4px 4px 0;
    left: 10px;
    border-left-color: inherit;
    border-right-color: inherit;
}
.vertical-ltr .noo-nav > li.dropdown > a:after{
	border-color: transparent transparent transparent #FFFFFF;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    right: 10px;
    border-left-color: inherit;
}

.noonav .button-bar{
	display: none;	
}
.noonav .navbar-brand {
	display: none;	
}
.noocollapse.in {
	height: auto !important;
	overflow: visible;
}
.noo-icon{
	margin-right: 5px;	
}
.noosticky{
    margin: 0 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius : 0 !important;
    -webkit-border-radius : 0 !important;
}
.noonav.noosticky .noo-megamenu{
	width: 1072px;
	margin: 0 auto !important;
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
	-o-box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
