{% extends '::base.html.twig' %}

{% set title = 'About Us' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}

    <div class="row">
        <h2>Why choose InfinityFXGlobal?</h2>
        <p class="large">We are an independent Forex brokerage based offshore. We have a strategic partnership with London-based <a href="{{ pathOrUrl('http://www.xopenhub.pro/') }}">X Open Hub</a> and <a href="{{ pathOrUrl('http://www.hsbc.com/') }}">HSBC</a> Bank of London.We are regulated under our Seychelles registration. Our primary service is to provide an exceptionally managed trading account for our clients.</p>
        <p><a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('_create_an_account') }}" target="_blank"><span>CREATE AN ACCOUNT NOW</span></a></p>
    </div>

    <div class="row">
        {{ block('highlightGreySectionStart') }}
        {{ block('span12ColumnsStart') }}
        <h3>Why choose InfinityFXGlobal?</h3>
        <p>We combine innovation and strategy in the global currency market to bring powerful tools to the independent trader. The experience and security for our clients are our top priority. Our strategic partners have operated in the Foreign Exchange space for nearly a decade and are registered (and in good standing) with the <a href="{{  pathOrUrl('http://www.fsaseychelles.sc/') }}">Financial Services Authority of Seychelles</a> (IBC #127118).</p>
        {{ block('spanColumnsEnd') }}
        {{ block('highlightGreySectionEnd') }}
    </div>

    <div class="row">
        <h4>More reasons to choose InfinityFXGlobal:</h4>
        <ul class="two-columns">
            <li>Position hedging</li>
            <li>Non-dealing desk</li>
            <li>Straight through processing</li>
            <li>Low, flat-rate commissions</li>
            <li>Over a dozen Tier 1 liquidity providers including HSBC, Deutsche Bank, Goldman Sachs, JPMorgan, and Barclay, etc.</li>
            <li>Each of our clients' funds are kept in segregated bank accounts, to avoid co-mingling. And funds are insured by the FDIC (Federal Deposit Insurance Corporation) and the FSCS (Financial Services Compensation Scheme).</li>
            <li>Leverage up to 300:1</li>
            <li>Spreads as low as 2 pips</li>
        </ul>
    </div>

    <div class="row">
        <h4>How do I get started</h4>
        <ol>
            <li>Fill out New <a href="{{ pathOrUrl('_create_an_account') }}">Client Registration</a></li>
            <li>Wait approximately 2 business days for approval and setup via email confirmation</li>
            <li>Fund your account and we begin trading.</li>
        </ol>
    </div>

    {{ block('spanColumnsEnd') }}

    {{ block('span4ColumnsStart') }}
    <div class="row">
        {{ block('aboutSideNav') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}