{% extends '::base.html.twig' %}

{% set title = 'Buying and Selling' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}
    <div class="row">
        <h2>What are we really buying or selling in the currency market?</h2>
        <p>You are buying and selling money. In the forex market, think of money as a <a target="_blank" href="{{ pathOrUrl('') }}">commodity</a>, you are buying a currency hoping that its value will increase, and if you are selling you are betting that it will decrease. Like any other commodity, the price of currencies is displayed in quotes in the <a target="_blank" href="{{ pathOrUrl('') }}">spot market</a>, and traded in currency pairs; like the US dollar and the Euro (USD/EUR) or the US dollar and Japanese yen (USD/JPY).</p>
        <p>Also, although you are buying another country's currency, you are not buying anything ‘physical', and thus no physical exchange of money ever takes place. This can be confusing, but think of it like buying shares of a <a target="_blank" href="{{ pathOrUrl('') }}">publicly traded company</a> where everything is done electronically inside your trading account. But unlike the stock market, the forex market doesn't have a central exchange like the <a target="_blank" href="{{ pathOrUrl('') }}">New York Stock Exchange</a> for instance. Instead the forex market is an <a target="_blank" href="{{ pathOrUrl('') }}">interbank market</a>, which means it's all connected together in a network of banks and institutions.</p>
    </div>
    <div class="row">
        {{ block('highlightGreySectionStart') }}
        {{ block('span8ColumnsStart') }}
        <p class="large">You can also think of buying currencies as buying shares in a country, you are betting on the success or failure of a particular country's economy.</p>
        {{ block('spanColumnsEnd') }}
        {{ block('span4ColumnsStart') }}
        <p align="center">
            <span class="circle-icon-large"><i class="fa fa-dollar"></i></span>
            <span class="circle-icon-large"><i class="fa fa-eur"></i></span>
            <span class="circle-icon-large"><i class="fa fa-jpy"></i></span>
        </p>
        <p align="center">
            <span class="circle-icon-large"><i class="fa fa-gbp"></i></span>
            <span class="circle-icon-large"><i class="fa fa-krw"></i></span>
            <span class="circle-icon-large"><i class="fa fa-inr"></i></span>
        </p>
        {{ block('spanColumnsEnd') }}
        {{ block('highlightGreySectionEnd') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('span4ColumnsStart') }}
    <div class="row">
        {{ block('aboutSideNav') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}