{% extends '::base.html.twig' %}

{% set title = 'Create an Account' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span12ColumnsStart') }}

	{% for label, flashes in app.session.flashbag.all %}
		{% for flash in flashes %}
			<div class="alert alert-{{ label }}">
				{{ flash }}
			</div>
		{% endfor %}
	{% endfor %}

	{{ block('spanColumnsEnd') }}

	{{ form_start(form) }}

		{# HIDDEN FIELDS #}
		{{ form_widget(form.dateSigned) }}
        {{ form_widget(form.accountType) }}

		{# FORM ERRORS #}
		{% if form_errors(form) is not empty %}
			<div class="row">
				{{ block('span12ColumnsStart') }}
					<div class="alert alert-warning">
						{{ form_errors(form) }}
					</div>
				{{ block('spanColumnsEnd') }}
			</div>
		{% endif %}

		{# FORM FIELDS #}
		<div class="row">
			{{ block('span4ColumnsStart') }}
				{{ form_label(form.firstName) }}
				{{ form_widget(form.firstName) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span4ColumnsStart') }}
				{{ form_label(form.lastName) }}
				{{ form_widget(form.lastName) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span4ColumnsStart') }}
				{{ form_label(form.dateOfBirth) }}
				{{ form_widget(form.dateOfBirth) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span6ColumnsStart') }}
				{{ form_label(form.address1) }}
				{{ form_widget(form.address1) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span6ColumnsStart') }}
				{{ form_label(form.address2) }}
				{{ form_widget(form.address2) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span5ColumnsStart') }}
				{{ form_label(form.city) }}
				{{ form_widget(form.city) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span5ColumnsStart') }}
				{{ form_label(form.state) }}
				{{ form_widget(form.state) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span2ColumnsStart') }}
				{{ form_label(form.postalCode) }}
				{{ form_widget(form.postalCode) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span6ColumnsStart') }}
				{{ form_label(form.phoneDay) }}
				{{ form_widget(form.phoneDay) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span6ColumnsStart') }}
				{{ form_label(form.phoneNight) }}
				{{ form_widget(form.phoneNight) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span8ColumnsStart') }}
				{{ form_label(form.email) }}
				{{ form_widget(form.email) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span4ColumnsStart') }}
				{{ form_label(form.gender) }}
				{{ form_widget(form.gender) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span4ColumnsStart') }}
				{{ form_label(form.maritalStatus) }}
				{{ form_widget(form.maritalStatus) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span4ColumnsStart') }}
				{{ form_label(form.dependents) }}
				{{ form_widget(form.dependents) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span4ColumnsStart') }}
				{{ form_label(form.citizenship) }}
				{{ form_widget(form.citizenship) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span8ColumnsStart') }}
				{{ form_label(form.employmentStatus) }}
				{{ form_widget(form.employmentStatus) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span4ColumnsStart') }}
				{{ form_label(form.employerName) }}
				{{ form_widget(form.employerName) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.employerAddress1) }}
			{{ form_widget(form.employerAddress1) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.employerAddress2) }}
			{{ form_widget(form.employerAddress2) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span4ColumnsStart') }}
			{{ form_label(form.yearsEmployed) }}
			{{ form_widget(form.yearsEmployed) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span8ColumnsStart') }}
			{{ form_label(form.currentPosition) }}
			{{ form_widget(form.currentPosition) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.phoneBusiness) }}
			{{ form_widget(form.phoneBusiness) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.emailBusiness) }}
			{{ form_widget(form.emailBusiness) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.levelOfEducation) }}
			{{ form_widget(form.levelOfEducation) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.annualIncome) }}
			{{ form_widget(form.annualIncome) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.liquidNetWorth) }}
			{{ form_widget(form.liquidNetWorth) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.totalNetWorth) }}
			{{ form_widget(form.totalNetWorth) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span12ColumnsStart') }}
			{{ form_label(form.bankName) }}
			{{ form_widget(form.bankName) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span12ColumnsStart') }}
			{{ form_label(form.bankruptcy) }}
			{{ form_widget(form.bankruptcy) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span12ColumnsStart') }}
			{{ form_label(form.bankruptcyInfo) }}
			{{ form_widget(form.bankruptcyInfo) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span12ColumnsStart') }}
			{{ form_label(form.litigations) }}
			{{ form_widget(form.litigations) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span12ColumnsStart') }}
			{{ form_label(form.litigationsInfo) }}
			{{ form_widget(form.litigationsInfo) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.powerOfAttourney) }}
			{{ form_widget(form.powerOfAttourney) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.workedForBroker) }}
			{{ form_widget(form.workedForBroker) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.stockExperience) }}
			{{ form_widget(form.stockExperience) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.forexExperience) }}
			{{ form_widget(form.forexExperience) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.commoditiesExperience) }}
			{{ form_widget(form.commoditiesExperience) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.bondsExperience) }}
			{{ form_widget(form.bondsExperience) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span12ColumnsStart') }}
			{{ form_label(form.financialInstitutionExperience) }}
			{{ form_widget(form.financialInstitutionExperience) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span12ColumnsStart') }}
			{{ form_label(form.additionalNames) }}
			{{ form_widget(form.additionalNames) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.govPhotoId) }}
			{{ form_widget(form.govPhotoId) }}
			{{ block('spanColumnsEnd') }}
			{{ block('span6ColumnsStart') }}
			{{ form_label(form.utilityBill) }}
			{{ form_widget(form.utilityBill) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span12ColumnsStart') }}
			{{ form_label(form.agreeToTerms) }}
			{{ form_widget(form.agreeToTerms) }}
			{{ block('spanColumnsEnd') }}
		</div>
		<div class="row">
			{{ block('span12ColumnsStart') }}
				<button type="submit" class="ww-button sf-button">CREATE ACCOUNT</button>
			{{ block('spanColumnsEnd') }}
		</div>
	{{ form_end(form) }}

    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}

{% block javascripts %}
<!-- you load jquery somewhere before jSignature ... -->
<script src="{{ asset('bundles/site/js/jSignature.min.js') }}"></script>
<script>
	$(document).ready(function() {
		$('#form_digitalsignature').after('<div id="signature"></div>');
		$("#signature").jSignature();
	})
	$(window).load(function() {

	})
</script>
{% endblock %}