{% extends '::base.html.twig' %}

{% set title = 'Currency Quotes' %}

{% block body %}

	{{ block('whiteSectionStart') }}

	{{ block('span8ColumnsStart') }}
	<div class="row">
		<p class="large">Currencies are quoted in pairs, for example the USD/EUR is the U.S. dollar/euro. Using this quotation, the value of a currency is determined by its comparison to another currency. The first currency of a currency pair is called the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/b/basecurrency.asp') }}">base currency</a>, and the second currency is called the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/q/quotecurrency.asp') }}">quote currency</a>. The currency pair shows how much of the quote currency is needed to purchase one unit of the base currency.</p>
	</div>

	<div class="row">
		{{ block('highlightGreySectionStart') }}
		{{ block('span12ColumnsStart') }}
		<p class="large">For example, if the USD/EUR currency pair is quoted as being USD/EUR = 0.8000 and you purchase the pair; this means that for every 0.80 euros you sell, you purchase (receive) US$1. If you sell the currency pair, you will receive 0.80 euros for every US$1 you sell. The inverse of the currency quote is EUR/USD, and the corresponding price would be EUR/USD = 1.25, meaning that US$1.25 would buy 1 euro.</p>
		{{ block('spanColumnsEnd') }}
		{{ block('highlightGreySectionEnd') }}
	</div>

	{{ block('whiteSectionStart') }}
	<div class="row">
		<h3>Why is currency always quoted in pairs?</h3>
		<p>When reading currency quotes, you have probably noticed that there is only a single quote for a pair of currencies. <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/c/currencypair.asp') }}">Currency pairs</a> are quoted as such because a currency is only valuable in relation to another currency. The value of a domestic good in an open market is very easy to determine - just look at the current market price. In this instance, the value of the good is essentially being compared to the currency. Therefore, when quoting the value of a currency, it must also be valued against something else.</p>
	</div>
	<div class="row">
		{{ block('highlightGreySectionStart') }}
		{{ block('span12ColumnsStart') }}
	</div>
	<div class="row">
		<p>When looking at a currency quote, there is only one quoted number after a currency pair. For example, let's examine the currency pair CAD/USD with a quote of 0.9111. Before we can understand what this means, we must first understand how the quote works.</p>
		{{ block('spanColumnsEnd') }}
		{{ block('highlightGreySectionEnd') }}
	</div>
	<div class="row">
		<p>As you can see, the first currency in the pair is the Canadian dollar and the second currency is the U.S. dollar. In this quote, the Canadian dollar is referred to as the base currency, while the U.S. dollar is the quoted currency. In all cases, the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/b/basecurrency.asp') }}">base currency</a> will always be worth one unit in relation to the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/q/quotecurrency.asp') }}">quoted currency</a>, regardless of whether the quote is <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/i/indirectquote.asp') }}">indirect</a> or <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/d/directquote.asp') }}">direct</a>. In our example, one Canadian dollar is worth 0.9111 U.S. dollars. Another way this currency pair could be quoted is the inverse; the quote for USD/CAD would be 1.0976 (1/0.9111). This quote tell us how many Canadian dollars can be purchased with one U.S. dollar.</p>
		<p>As mentioned above, currencies are quoted in pairs because there must be something of value against which to measure them. They are also quoted in pairs because currencies are often exchanged for one another.</p>
	</div>
	{{ block('whiteSectionEnd') }}

	{{ block('spanColumnsEnd') }}

	{{ block('span4ColumnsStart') }}
	<div class="row">
		{{ block('aboutSideNav') }}
	</div>
	{{ block('spanColumnsEnd') }}

	{{ block('whiteSectionEnd') }}

	<div style="background-image: url({{ asset('bundles/site/images/leverage.jpg') }}); background-repeat: no-repeat; background-attachment: scroll; background-clip: padding-box; background-size: cover; padding-top: 100px; padding-bottom: 100px; background-position: center -111px;" data-prlx-speed="0.7" class="ww-custom stripe-parallax-bg">
		<div class="container   ">
			{{ block('fancyboxSpan12ColumnsStart') }}
			<h3 align="left">Spreads and Pips</h3>
			<p align="left" class="large">The difference between the bid price and the ask price in a forex quote is normally called the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/s/spread.asp') }}">spread</a>. In the previous example: USD/CAD = 1.2000/05, the spread is 0.0005, or 5 <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/p/pip.asp') }}">pips</a>. Pips, or points, is the common name used to refer to incremental changes in a forex quote – a change from 1.2000 to 1.2001 would equal one pip. Although these currency movements may seem small, due to leverage used in the forex market, small changes can result in large profits or losses.</p>
			{{ block('fancyboxSpanColumnsEnd') }}
			{{ block('fancyboxSpan12ColumnsStart') }}
			<p align="left">With the major currency pairs such as the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/forex/e/eur-usd-euro-us-dollar-currency-pair.asp') }}">EUR/USD</a>, <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/forex/u/usd-cad-us-dollar-canadian-dollar-currency-pair.asp') }}">USD/CAD</a>, <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/forex/g/gbp-usd-british-pound-us-dollar-currency-pair.asp') }}">GBP/USD</a>, one pip would be equal to 0.0001. However, if you take a look at a USD/JPY quote you'll notice the pair only goes to two decimal places, so one pip would be 0.01. So, in general, a pip represents the last decimal place in the quote.</p>
			{{ block('fancyboxSpanColumnsEnd') }}
		</div>
	</div>

	{{ block('highlightSectionStart') }}
	<h2 align="center"><strong>Currency Quote</strong> Overview</h2>
	{{ block('highlightSectionEnd') }}

	{{ block('greySectionStart') }}

	{{ block('span12ColumnsStart') }}
	<table width="100%" class="bordered">
		<thead>
			<tr>
				<th class="large" colspan="3">USD/CAD = 1.2000/05</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><strong>Base Currency</strong></td>
				<td>Currency to the left (USD)</td>
				<td></td>
			</tr>
			<tr>
				<td><strong>Quote/Counter Currency</strong></td>
				<td>Currency to the right (USD)</td>
				<td></td>
			</tr>
			<tr>
				<td><strong>Bid Price</strong></td>
				<td>1.2000</td>
				<td>Price for which the market maker will buy the base currency. Bid is always smaller than ask.</td>
			</tr>
			<tr>
				<td><strong>Ask Price</strong></td>
				<td>1.2005</td>
				<td>Price for which the market maker will sell the base currency.</td>
			</tr>
			<tr>
				<td><strong>Pip</strong></td>
				<td>One point move, in USD/CAD it is .0001 and 1 point change would be from 1.2000 to 1.2001</td>
				<td>The pip/point is the smallest movement a price can make.</td>
			</tr>
			<tr>
				<td><strong>Spread</strong></td>
				<td>Spread in this case is 5 pips/points, or the difference between bid and ask price (1.2005-1.2000).</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	{{ block('spanColumnsEnd') }}

	{{ block('greySectionEnd') }}

	{{ block('whiteSectionStart') }}
	{{ block('span12ColumnsStart') }}
	<h3>Lots</h3>
	<p>Similar to how most stocks trade in lots to facilitate trading, currencies are also traded in <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/l/lot.asp') }}">lots</a> – $100,000 is typically the standard lot. There are also smaller lots with a size of $10,000 called <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/m/mini-lot.asp') }}">mini-lots</a>. These may seem like large amounts but because currencies only move in small increments, only a few pips at a time, a larger amount of currency is needed to generate any sizable profits or losses.</p>
	{{ block('spanColumnsEnd') }}
	{{ block('whiteSectionEnd') }}

	{{ block('greySectionStart') }}

	{{ block('span12ColumnsStart') }}
	<h3>Direct Currency Quote vs. Indirect Currency Quote</h3>
	<p>You can quote a currency pair in two ways, either <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/d/directquote.asp') }}">directly</a> or <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/i/indirectquote.asp') }}">indirectly</a>. A direct currency quote is simply a foreign exchange quote where the foreign currency is the base currency; an indirect quote is a currency pair in which the domestic currency is the base currency. For example, if you're in Canada and the Canadian dollar is the domestic currency, a direct quotation would take the form of a variable amount of the domestic currency for a fixed amount of the foreign currency. A Canadian bank giving a quote of "C$1.20 per US$1" would be a direct quote. Conversely, an indirect quote fixes the domestic currency and varies the foreign currency. In the same example, if the Canadian bank gave a quote of "C$1=US$0.83" it would be an <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/i/indirectquote.asp') }}">indirect quote</a>.</p>
	{{ block('spanColumnsEnd') }}

	{{ block('greySectionEnd') }}

	{{ block('whiteSectionStart') }}

	{{ block('span12ColumnsStart') }}
	<h3>Cross Currency</h3>
	<p>A currency quote given without the U.S. dollar as part of the currency pair is called a <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/c/crosscurrency.asp') }}">cross currency</a> quote. Common cross currency pairs include the EUR/CHF, EUR/GBP and EUR/JPY. Although having cross currencies increases the amount of choice for the investor in the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/university/forexmarket/forex2.asp#%23') }}">forex market</a>, cross currencies are not as popular as ones that have the U.S. dollar as a component of the currency pair.</p>
	{{ block('spanColumnsEnd') }}

	{{ block('whiteSectionEnd') }}

{% endblock %}