{% extends '::base.html.twig' %}

{% set title = 'Demo Our System' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span12ColumnsStart') }}
    {{ title }}
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}