{% extends '::base.html.twig' %}

{% set title = 'Financial Security' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}
    <div class="row">
        <p class="large">Because we provide (STP) Straight Through Processing, our trade speed has near immediate completion, we maintain control over the smallest trades, and problems associated with B-book are avoided.</p>
        <p>In addition, since we have non-dealing desk environment, our trades are not susceptible to false market changes or being intentionally delayed, waiting for market adjustments. This results in fair trades, which leads to excellent client retention for our managed accounts.</p>
        <p><a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('_create_an_account') }}" target="_blank"><span>CREATE AN ACCOUNT NOW</span></a></p>
    </div>
    <div class="row">
        {{ block('highlightGreySectionStart') }}
        {{ block('span12ColumnsStart') }}
        <p align="center"><span class="x-large"><strong>All</strong> customer deposits are kept <strong>separate</strong> from our own operating funds.</span></p>
        {{ block('spanColumnsEnd') }}
        {{ block('highlightGreySectionEnd') }}
    </div>
    <div class="row">
        <p>Your account will be in your own name and you are the only person with access  to withdraw funds.</p>
        <p>We are registered (and in good standing) with the <a href="{{ pathOrUrl('http://www.fsaseychelles.sc/') }}">Financial Services Authority of Seychelles</a> (IBC #127118).</p>
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('span4ColumnsStart') }}
    <div class="row">
        {{ block('aboutSideNav') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}