{% extends '::base.html.twig' %}

{% set title = 'Forex' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}
    <div class="row">
        <h2>Forex Overview</h2>
        <h3>Introduction to Foreign Exchange</h3>
        <h4>What Is Forex?</h4>
        <p>Although it doesn't get as much media attention as the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/s/stock.asp') }}">stocks</a> or <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/b/bond.asp') }}">bonds</a> markets, the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/forex/f/foreign-exchange-markets.asp') }}">foreign exchange market</a> (or "forex" for short) is the biggest financial market in the world, with over $4 trillion worth of transactions occurring every day. Simply, forex is the market in which currencies, or money, are traded. The forex market allows you to buy and sell money. It is one of the most exciting, fastest-paced markets in the world. It seems to be easier to understand, compared to the stock market. Chances are you've already tried it when you've gone on a trip to another country and exchanged some money.</p>
        <p>Historically, only large <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/university/forexmarket/default.asp#%23') }}">financial institutions</a>, corporations, <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/c/centralbank.asp') }}">central banks</a>, <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/university/forexmarket/default.asp#%23') }}">hedge funds</a> and extremely wealthy individuals had the resources to participate in the forex market. However, now, with the emergence and popularization of the internet and mainstream computing technology, it is possible for average investors to buy and sell <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/c/currency.asp') }}">currencies</a> with the click of a mouse from the comfort of their own home.</p>
        <p>There is no one-stop shop for buying and selling currencies; trade is conducted through a lot of individual <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/a/authorizeforexdealer.asp') }}">dealers</a> or financial centers. The forex market is open 24 hours a day, five days a week, and currencies are traded worldwide among the major financial centers of London, New York, Tokyo, Zürich, Frankfurt, Hong Kong, Singapore, Paris and Sydney. This means, at any time during the day you can find a financial center that is buying and selling currencies.</p>
        <p>With the constantly improving technology for trading, dealing in currencies is now more accessible than ever. In the past, the foreign exchange market was the domain of government, or companies with a lot of money. However, with the wide spread access to the internet, firms now offer any average person the ability to open accounts to trade currencies. All you really need, in terms of hardware to get started, is a computer and access to the internet.</p>
    </div>
    <div class="row">
        {{ block('highlightGreySectionStart') }}
        {{ block('span12ColumnsStart') }}
        <h2 align="center">Forex  is Unique</h2>
        <p align="center" class="x-large">How is the forex market different from other markets?</p>
        {{ block('spanColumnsEnd') }}
        {{ block('highlightGreySectionEnd') }}
    </div>
    <div class="row">
        <ol>
            <li>Fewer Rules: Unlike the trading of stocks, futures or options, currency trading does not take place on an exchange with rules, like the New York Stock Exchange. It is not controlled by any central governing body, and there are no <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/c/clearinghouse.asp') }}">clearing houses</a> to make sure the party you are buying the currency from actually pays up. In fact, if you had exclusive information, and used it to make a lot of money, legal issues would not arise, like they would it in the stock market.</li>
            <li>No Commissions: There are no exchange, <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/b/brokerage-fee.asp') }}">brokerage</a> or <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/c/clearingfee.asp') }}">clearing fee</a>s in the FX market. Instead, brokers make money on the difference in price you pay to buy, or the amount you receive when you sell, currencies.</li>
            <li>Trade Whenever You Want: Forex markets are open 24 hours a day, so if you are a night owl or early riser you can set your own trading schedule.</li>
            <li>No Limit to How Much Currency You can Buy: If you had $1 billion U.S. dollars you wanted to sell, you could do it! There's no limit to how much money you can buy or sell.</li>
            <li>Easy to Get In and Out: You can buy and sell currencies with the click of a button, instantaneously. The market is so large that you will never be stuck if you wanted to get rid of – or buy - your stockpile of currency.</li>
        </ol>
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('span4ColumnsStart') }}
    <div class="row">
        {{ block('aboutSideNav') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}