{% extends '::base.html.twig' %}

{% set title = 'Forms & Agreements' %}
{% set showTitleHeader = 'false' %}

{% block body %}

    <div style="background-image: url({{ asset('bundles/site/images/forms_agreement.jpg') }}); background-repeat: no-repeat; background-attachment: scroll; background-clip: padding-box; background-size: cover; padding-top: 100px; padding-bottom: 100px;" data-prlx-speed="0.7" class="ww-custom stripe-parallax-bg ">
        <div class="container   ">
            {{ block('fancyboxSpan12ColumnsStart') }}
            <h2 align="left">{{ title }}</h2>
            {{ block('fancyboxSpanColumnsEnd') }}
        </div>
    </div>

    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}
    <div class="row">
        <table width="100%" class="bordered">
            <thead>
                <tr>
                    <th class="large" colspan="3">FOREXTrader Applications</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="60%">Account Application</td>
                    <td width="20%" align="center"><a class="ww-button sf-button small preset slightlyrounded" href="{{ pathOrUrl('_create_an_account') }}">Apply Online</a></td>
                    <td width="20%" align="center"><a class="ww-button sf-button blue small preset slightlyrounded" target="_blank" href="{{ asset('bundles/site/pdf/ifxg_account_application.pdf') }}">Download</a></td>
                </tr>
                <tr>
                    <td>Risk Disclosure</td>
                    <td align="center"></td>
                    <td align="center"><a class="ww-button sf-button blue small preset slightlyrounded" target="_blank" href="{{ asset('bundles/site/pdf/ifxg_risk_disclosure.pdf') }}">Download</a></td>
                </tr>
                <tr>
                    <td>Withdrawal Form</td>
                    <td align="center"></td>
                    <td align="center"><a class="ww-button sf-button blue small preset slightlyrounded" target="_blank" href="{{ asset('bundles/site/pdf/ifxg_withdrawal_form_master.pdf') }}">Download</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('span4ColumnsStart') }}
    <div class="row">
        {{ block('supportSideNav') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}