{% extends '::base.html.twig' %}

{% set title = 'Frequently Asked Questions' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}
	<div class="row">
		<h2>What is InfinityFxGlobal?</h2>
		<span class="dropcap-boxed"><i class="fa fa-info"></i></span>
		<p>InfinityFxGlobal is a brokerage based offshore. Its liquidity and accounts are backed by HSBC Bank of London.  Our primary service is to provide an exceptionally managed trading account for our clients.</p>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">Why should you choose InfinityFxGlobal?</a>
		</h4>
		<div class="wpb_toggle_content">
			<ul>
				<li>Position hedging</li>
				<li>Non-dealing desk</li>
				<li>Straight through processing</li>
				<li>Low, flat-rate commissions</li>
				<li>Tight spreads</li>
				<li>Over a dozen Tier 1 liquidity providers including HSBC, Deutsche Bank, Goldman Sachs, JPMorgan, and Barclay, etc.</li>
				<li>Each of our clients' funds are kept in segregated bank accounts, to avoid co-mingling. And funds are insured by the FDIC (Federal Deposit Insurance Corporation) and the FSCS (Financial Services Compensation Scheme).</li>
				<li>Winning managed account service</li>
				<li>Leverage up to 300:1</li>
				<li>Spreads as low as 2 pips</li>
			</ul>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">What does a client have to do to get started?</a>
		</h4>
		<div class="wpb_toggle_content">
			<ul>
				<li>Log on to InfinityFxGlobal and fill out the new client application.</li>
				<li>Then once you receive the email for login, deposit your money.</li>
			</ul>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">How long does it take to get my money out?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>From the moment you ask for withdrawal, it will take approximately 7-10 days to receive your money.</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">Can anyone invest in InfinityFxGlobal Managed Account?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>Currently, accounts are approved by InfinityFxGlobal Management through the application process.</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">What is the minimum that I can deposit?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>Minimum to invest is <strong class="red-text">$25,000</strong>.</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">How does the managed service work?</a>
		</h4>
		<div class="wpb_toggle_content">
			<ul>
				<li>Client’s original investment needs to stay in your active account for at least 6 months.</li>
				<li>A monthly DRAW can be initiated after 30 days from profit earned.</li>
				<li>Your account will be traded via InfinityFxGlobal’s expert advisors (EA)</li>
			</ul>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">How do I open an account with InfinityFxGlobal?</a>
		</h4>
		<div class="wpb_toggle_content">
			<ul>
				<li>Click on Open an Account</li>
				<li>Follow easy 1-2-3 steps and fill out application</li>
				<li>Receive username and password via email. Log in and Fund Account. Start Trading.</li>
			</ul>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">What is a commission?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>Commission is the payment that is charged for buying/selling currency.</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">What is a swap?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>Swap is simultaneous purchase of the same amount of a given currency at a forward exchange rate.</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">Under whose regulation does InfinityFxGlobal operate?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>InfinityFxGlobal is regulated by the <a href="{{ pathOrUrl('http://www.fsaseychelles.sc/index.php/legal-framework/securities-investment') }}" target="_blank">Financial Services Authority of Seychelles</a> (IBC #127118) and are incorporated as a Foreign Entity LLC in the US.</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">Whose regulation would I be under?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>Clients using InfinityFxGlobal’s software are regulated by the FSA of Seychelles, also.</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">Can I use my own Expert Advisor or EA?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>No, your funds will be managed by IFXG’s EA.</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">What is your commission structure</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>We charge a fee of $100 per million trades and 30% commission on profit earned. This allows IFXG to offer more competitive rates, or widen your own profit margin.</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">How are my funds protected?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>Each of our clients' funds are kept in segregated bank accounts. Funds are insured by the FDIC (Federal Deposit Insurance Corporation) and the FSCS (Financial Services Compensation Scheme).</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">How does a Managed Service Account work?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>Through our specialized expert advisor, your account will automatically be traded. You will have complete insight as to the trades and positions your account is in. Our emphasis is on long term trades that provide a strong return on investment. This service should only be utilized by traders that intend to keep the principal vested over at least a six (6) month period of time. You will have opportunity to withdraw funds from your equity monthly.</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">Can I open more than one account?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>Yes. You can open multiple managed accounts. All funds withdrawn will be wired back to the origin account.</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">Where are you located?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>InfinityFXGlobal is located near Phoenix, Arizona</p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">How do I best contact you for questions?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>InfinityFXGlobal’s contact email is <a href="{{ pathOrUrl('mailto:prodesk@infinityfxglobal.com') }}">prodesk@infinityfxglobal.com</a></p>
		</div>
	</div>

	<div class="toggle-wrap ww-round-head-icon-right">
		<h4 class="wpb_toggle">
			<span class="toggle-header-icon"></span>
			{#<icon class="fa fa-folder-open"></icon>#}
			<a href="#">How will I know how my account is doing?</a>
		</h4>
		<div class="wpb_toggle_content">
			<p>You will receive a report of daily account activity in the email that you provided on your <a href="{{ pathOrUrl('_create_an_account') }}">New Account Application</a>.</p>
		</div>
	</div>

    {{ block('spanColumnsEnd') }}

	{{ block('span4ColumnsStart') }}
	<div class="row">
		{{ block('supportSideNav') }}
	</div>
	{{ block('spanColumnsEnd') }}

	{{ block('whiteSectionEnd') }}

{% endblock %}