{% extends '::base.html.twig' %}

{% set title = 'Hedging' %}

{% block body %}

	{{ block('whiteSectionStart') }}

	{{ block('span8ColumnsStart') }}
	<div class="row">
		<h2>What Is Hedging?</h2>
		<p class="large">When companies sell goods or services in foreign countries, they are usually paid in the currency of the country in which the sale occurs. But currencies can fluctuate, causing the sale to be valued (in the home country) at less than hoped for or expected. To avoid possible loss from fluctuating currencies, companies can hedge, or protect themselves, by trading currency pairs. Protection against the possibility of adverse currency movement helps companies focus on generating revenues.</p>
	</div>

	<div class="row">
		{{ block('highlightGreySectionStart') }}
		{{ block('span12ColumnsStart') }}
		<p class="large">The best way to understand hedging is to think of it as insurance. When people decide to hedge, they are insuring themselves against a negative event. This doesn't prevent a negative event from happening, but if it does happen and you're properly hedged, the impact of the event is reduced.</p>
		<p>So, hedging occurs almost everywhere, and we see it everyday. For example, if you buy house insurance, you are hedging yourself against fires, break-ins or other unforeseen disasters.</p>
		{{ block('spanColumnsEnd') }}
		{{ block('highlightGreySectionEnd') }}
	</div>

	{{ block('spanColumnsEnd') }}

	{{ block('span4ColumnsStart') }}
	<div class="row">
		{{ block('aboutSideNav') }}
	</div>
	{{ block('spanColumnsEnd') }}

	{{ block('whiteSectionEnd') }}

	<div class="row">
		<div style="background-image: url({{ asset('bundles/site/images/hedging.jpg') }}); background-repeat: no-repeat; background-attachment: scroll; background-clip: padding-box; background-size: cover; padding-top: 100px; padding-bottom: 100px; background-position: center -111px;" data-prlx-speed="0.7" class="ww-custom stripe-parallax-bg ">
			<div class="container   ">
				{{ block('fancyboxSpan12ColumnsStart') }}
				<p align="left" class="large">Portfolio managers, individual investors and corporations use hedging techniques to reduce their exposure to various risks. In financial markets, however, hedging becomes more complicated than simply paying an insurance company a fee every year. Hedging against investment risk means strategically using instruments in the market to offset the risk of any adverse price movements. In other words, investors hedge one investment by making another.</p>
				{{ block('fancyboxSpanColumnsEnd') }}
			</div>
		</div>
	</div>

	{{ block('whiteSectionStart') }}

	{{ block('span12ColumnsStart') }}
	<div class="row">
		<p>A reduction in risk will always mean a reduction in potential profits. So, hedging, for the most part, is a technique not by which you will make money but by which you can reduce potential loss. If the investment you are hedging against makes money, you will have typically reduced the profit that you could have made, and if the investment loses money, your hedge, if successful, will reduce that loss.</p>
	</div>
	{{ block('spanColumnsEnd') }}

	{{ block('whiteSectionEnd') }}

{% endblock %}