{% extends '::base.html.twig' %}

{% block body %}

    <div class="ww-custom " style="background-repeat: no-repeat;background-attachment: fixed;background-clip: padding-box;background-size: cover">
        <div class="no-container row">
            <div class="vc_col-sm-12 wpb_column column_container  ">
                <div class="vc_style">
                    <div class="wpb_layerslider_element wpb_content_element">

                        <script type="text/javascript">

                            var lsjQuery = jQuery;

                            lsjQuery(document).ready(function () {
                                if (typeof lsjQuery.fn.layerSlider == "undefined") {
                                    lsShowNotice('layerslider_20', 'jquery');
                                } else {
                                    lsjQuery("#layerslider_20").layerSlider({
                                        responsiveUnder: 1170,
                                        layersContainer: 1170,
                                        pauseOnHover: false,
                                        forceLoopNum: false,
                                        autoPlayVideos: false,
                                        skinsPath: '{{ asset("bundles/site/js/layerslider/skins/") }}'
                                    })
                                }
                            });

                        </script>

                        <div class="ls-wp-fullwidth-container">
                            <div class="ls-wp-fullwidth-helper">
                                <div id="layerslider_20" class="ls-wp-container" style="width:100%;height:720px;margin:0 auto;margin-bottom: 0px;">

                                    <div class="ls-slide" data-ls="slidedelay:10000;transition2d:75,79;">
                                        <img src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_01_01_background.png') }}" class="ls-bg" alt="Slide background"/>
                                        <img class="ls-l" style="top:356px;left:20px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:1000;rotateyin:90;transformoriginin:left 50% 0;offsetxout:0;durationout:750;rotateyout:90;transformoriginout:right -50% 0;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_01_04.png') }}" alt="">
                                        <img class="ls-l" style="top:356px;left:170px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:1300;rotateyin:90;transformoriginin:left 50% 0;offsetxout:0;durationout:750;rotateyout:90;transformoriginout:left -50% 0;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_01_05.png') }}" alt="">
                                        <img class="ls-l" style="top:356px;left:320px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:1600;rotateyin:90;transformoriginin:left 50% 0;offsetxout:0;durationout:750;rotateyout:90;transformoriginout:left -50% 0;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_01_06.png') }}" alt="">
                                        <img class="ls-l" style="top:150px;left:320px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:1900;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;durationout:750;rotateyout:90;transformoriginout:right -50% 0;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_01_03.png') }}" alt="">
                                        <img class="ls-l" style="top:150px;left:170px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:2200;rotateyin:90;transformoriginin:right 50% 0;offsetxout:0;durationout:750;rotateyout:90;transformoriginout:left 50% 0;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_01_02.png') }}" alt="">
                                        <img class="ls-l" style="top:150px;left:20px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:2500;rotateyin:90;transformoriginin:right 50% 0;offsetxout:0;durationout:750;rotateyout:90;transformoriginout:left 50% 0;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_01_01.png') }}" alt="">
                                        <p class="ls-l" style="top:187px;left:500px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#177E3E;border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:3300;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">OUTSTANDING RETURNS</p>
                                        <p class="ls-l" style="top:229px;left:500px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:24px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:3700;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">Monthly average of managed forex accounts is <strong>10% - 30%</strong></p>
                                        <p class="ls-l" style="top:287px;left:500px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#177E3E;border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:4000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">SIMPLE ACCOUNT OPENING PROCESS</p>
                                        <p class="ls-l" style="top:330px;left:500px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:24px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:4400;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">Start your investment without <strong>any</strong> special knowledge.</p>
                                        <p class="ls-l" style="top:388px;left:500px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#177E3E;border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:4700;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">SAFE INVESTMENT</p>
                                        <p class="ls-l" style="top:441px;left:500px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:24px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:5100;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">Your money is <strong>protected</strong> at all times.</p>
                                        <p class="ls-l" style="top:506px;left:500px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#154680;border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:5400;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"><a href="{{ pathOrUrl('_about') }}" style="color: #FFffff;">LEARN MORE</a></p>
                                        <p class="ls-l" style="top:551px;left:500px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:24px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:5800;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;"><a href="{{ pathOrUrl('_support') }}">contact us <strong>today</strong></a>.</p>
                                    </div>

                                    <div class="ls-slide" data-ls="slidedelay:8000;transition2d:21,105;timeshift:-1000;">
                                        <img src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_02_background.png') }}" class="ls-bg" alt="Slide background"/>
                                        <img class="ls-l" style="top:155px;left:50%;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:3000;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:1500;showuntil:1;easingout:linear;scalexout:2;scaleyout:2;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/circle.png') }}" alt="">
                                        <img class="ls-l" style="top:155px;left:50%;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:4000;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:1500;showuntil:1;easingout:linear;scalexout:2;scaleyout:2;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/circle.png') }}" alt="">
                                        {#<p class="ls-l" style="top:82px;left:58px;font-weight: 300; opacity: .4;font-family:Lato, 'Open Sans', sans-serif;font-size:200px;color:#555555;white-space: nowrap;" data-ls="offsetxin:0;durationin:2500;delayin:1000;scalexin:0;scaleyin:0;offsetxout:0;scalexout:0;scaleyout:0;">&amp;</p>#}
                                        {#<p class="ls-l" style="top:169px;left:42px;font-weight: 300; background: white; background: rgba(255,255,255,.85);height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#231F20;white-space: nowrap;" data-ls="offsetxin:-50;durationin:2000;delayin:1000;offsetxout:-50;durationout:1000;">ALL THESE FEATURES</p>#}
                                        {#<p class="ls-l" style="top:213px;left:193px;font-weight: 500;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;color:#231F20;white-space: nowrap;" data-ls="offsetxin:50;delayin:2000;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">much more!</p>#}
                                        <p class="ls-l" style="top:380px;left:794px;font-weight: 500; text-align: right;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;color:#231F20;white-space: nowrap;" data-ls="offsetxin:0;delayin:2500;rotatein:90;transformoriginin:right bottom 0;offsetxout:0;durationout:1500;transformoriginout:right bottom 0;">Syncronize</p>
                                        <p class="ls-l" style="top:427px;left:794px;font-weight: 300; text-align: right;width:250px;height:40px;padding-right:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#231F20;white-space: nowrap;" data-ls="offsetxin:0;durationin:2500;delayin:3250;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:0;durationout:1000;rotatexout:90;transformoriginout:50% bottom 0;">ALL ACCOUNTS</p>
                                        <p class="ls-l" style="top:471px;left:796px;font-family:'Indie Flower', cursive;font-size:30px;color:#231F20;white-space: nowrap;" data-ls="offsetxin:-50;delayin:3500;skewxin:60;scalexin:1.5;offsetxout:-50;durationout:1000;skewxout:60;scalexout:1.5;">on any device!</p>
                                        <p class="ls-l" style="top:550px;left:794px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#154680;border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:4000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"><a href="{{ pathOrUrl('_about') }}" style="color: #FFffff;">LEARN MORE</a></p>
                                        <img class="ls-l" style="top:177px;left:230px;white-space: nowrap;" data-ls="durationin:1500;scalexin:0.8;scaleyin:0.8;scalexout:0.8;scaleyout:0.8;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_02_01.png') }}" alt="">
                                    </div>

                                    <div class="ls-slide" data-ls="slidedelay:8000;transition2d:4;">
                                        <img src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_03_background.png') }}" class="ls-bg" alt="Slide background"/>
                                        <img class="ls-l" style="top:-5px;left:140px;white-space: nowrap;" data-ls="offsetxin:50;durationin:750;delayin:10;offsetxout:50;durationout:1000;parallaxlevel:1;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/ParallaxSlide-picture.png') }}" alt="">
                                        <img class="ls-l" style="top:-70px;left:10px;white-space: nowrap;" data-ls="offsetxin:200;durationin:750;delayin:1000;offsetxout:200;durationout:1000;parallaxlevel:5;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_03_01.png') }}" alt="">
                                        <img class="ls-l" style="top:100px;left:200px;white-space: nowrap;" data-ls="offsetxin:150;durationin:1500;delayin:500;offsetxout:150;durationout:1000;parallaxlevel:3;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_03_02.png') }}" alt="">
                                        <p class="ls-l" style="top:117px;left:50px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#177E3E;border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:1500;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">SECURE &amp; PROTECTED</p>
                                        <p class="ls-l" style="top:160px;left:50px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:24px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:1700;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;"><strong>FDIC</strong> and <strong>FSCS</strong> insured funds</p>
                                        <p class="ls-l" style="top:418px;left:620px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#177E3E;border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:2200;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">NO SETUP FEES</p>
                                        <p class="ls-l" style="top:461px;left:620px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:24px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:2400;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">Quick and <strong>easy</strong> setup process,<br/>so we don’t see a reason to charge for it.</p>
                                        <p class="ls-l" style="top:560px;left:660px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#FFFFFF;background:#154680;border-radius:4px;white-space: nowrap;" data-ls="offsetxin:0;durationin:3200;delayin:1500;rotatein:-45;rotateyin:-1;scalexin:0.5;scaleyin:0.5;transformoriginin:left bottom 0;offsetxout:0;durationout:750;rotateout:45;scalexout:2;scaleyout:2;transformoriginout:right bottom 0;"><a href="{{ pathOrUrl('_about') }}" style="color: #FFffff;">LEARN MORE</a></p>
                                    </div>

                                    {#<div class="ls-slide" data-ls="slidedelay:5500;transition2d:11;">#}
                                        {#<img src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_04_background.png') }}" class="ls-bg" alt="Slide background"/>#}
                                        {#<img class="ls-l" style="top:0;left:-611px;white-space: nowrap;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_04_01.png') }}" alt="">#}
                                        {#<img class="ls-l" style="top:-5px;left:-552px;white-space: nowrap;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/topfade.png') }}" alt="">#}
                                        {#<p class="ls-l" style="top:267px;left:600px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#522931;border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:3300;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">PROBLEM WITH SCALPERS?</p>#}
                                        {#<p class="ls-l" style="top:309px;left:600px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:24px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:3700;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">Manage your risk the intelligent way</p>#}
                                        {#<p class="ls-l" style="top:496px;left:600px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#154680;border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:4000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"><a href="" style="color: #FFffff;">LEARN MORE</a></p>#}
                                    {#</div>#}

                                    <div class="ls-slide" data-ls="slidedelay:8000;transition2d:21,105;timeshift:-1000;">
                                        <img src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_05_background.png') }}" class="ls-bg" alt="Slide background"/>
                                        <img class="ls-l" style="top:-5px;left:-552px;white-space: nowrap;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/topfade.png') }}" alt="">
                                        <img class="ls-l" style="top:155px;left:50%;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:3000;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:1500;showuntil:1;easingout:linear;scalexout:2;scaleyout:2;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/circle.png') }}" alt="">
                                        <img class="ls-l" style="top:155px;left:50%;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:4000;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:1500;showuntil:1;easingout:linear;scalexout:2;scaleyout:2;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/circle.png') }}" alt="">
                                        <img class="ls-l" style="top:200px;left:70px;white-space: nowrap;" data-ls="durationin:1500;scalexin:0.8;scaleyin:0.8;scalexout:0.8;scaleyout:0.8;" src="{{ asset('bundles/site/images/blank.gif') }}" data-src="{{ asset('bundles/site/images/layerslider/slides/slide_05_01.png') }}" alt="">
                                        <p class="ls-l" style="top:82px;left:58px;font-weight: 300; opacity: .4;font-family:Lato, 'Open Sans', sans-serif;font-size:200px;color:#9084B1;white-space: nowrap;" data-ls="offsetxin:0;durationin:2500;delayin:1000;scalexin:0;scaleyin:0;offsetxout:0;scalexout:0;scaleyout:0;">&amp;</p>
                                        <p class="ls-l" style="top:169px;left:42px;font-weight: 300; background: white; background: rgba(255,255,255,.85);height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#51427C;white-space: nowrap;" data-ls="offsetxin:-50;durationin:2000;delayin:1000;offsetxout:-50;durationout:1000;">MANAGED FOREX ACCOUNTS</p>
                                        <p class="ls-l" style="top:213px;left:193px;font-weight: 500;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;color:#51427C;white-space: nowrap;" data-ls="offsetxin:50;delayin:2000;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">Superior Execution!</p>
                                        <p class="ls-l" style="top:170px;left:794px;font-weight: 500; text-align: right;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;color:#295F7A;white-space: nowrap;" data-ls="offsetxin:0;delayin:2500;rotatein:90;transformoriginin:right bottom 0;offsetxout:0;durationout:1500;transformoriginout:right bottom 0;">Our results</p>
                                        <p class="ls-l" style="top:217px;left:794px;font-weight: 300; text-align: right;width:100px;height:40px;padding-right:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#417B99;white-space: nowrap;" data-ls="offsetxin:0;durationin:2500;delayin:3250;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:0;durationout:1000;rotatexout:90;transformoriginout:50% bottom 0;">SPEAK</p>
                                        <p class="ls-l" style="top:261px;left:796px;font-family:'Indie Flower';font-size:30px;color:#295F7A;white-space: nowrap;" data-ls="offsetxin:-50;delayin:3500;skewxin:60;scalexin:1.5;offsetxout:-50;durationout:1000;skewxout:60;scalexout:1.5;">for themselves!</p>
                                        {#<p class="ls-l" style="top:110px;left:50px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#177E3E;border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:1500;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">FOREX-FOREIGN EXCHANGE</p>#}
                                        {#<p class="ls-l" style="top:160px;left:50px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:20px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:1700;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;"><strong>True 24-hour</strong> trading from <strong>Sunday to Friday</strong></p>#}
                                        {#<p class="ls-l" style="top:200px;left:50px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:20px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:2000;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">Trading opportunities in <strong>rising</strong> and falling markets</p>#}
                                        {#<p class="ls-l" style="top:240px;left:50px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:20px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:2300;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">Tight spreads reflecting <strong>real-time<br/>market liquidity</strong></p>#}
                                        {#<p class="ls-l" style="top:120px;left:550px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:20px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:2600;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">Average daily turnover of more than US <strong>$3 trillion</strong></p>#}
                                        {#<p class="ls-l" style="top:160px;left:550px;font-weight: 300;font-family:Lato, 'Open Sans', sans-serif;font-size:20px;color:#333;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:2900;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;"><strong>Most traded</strong> market in the world!</p>#}
                                        <p class="ls-l" style="top:400px;left:810px;font-weight: 300;height:40px;padding-right:10px;padding-left:10px;font-family:Lato, 'Open Sans', sans-serif;font-size:30px;line-height:37px;color:#ffffff;background:#177e3e;border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:3200;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"><a href="{{ pathOrUrl('_about') }}" style="color: #FFffff;">LEARN MORE</a></p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="" style="padding-bottom: 50px; margin-top: 60px">
        <div class="container">

            <div class="row">

                <div class="vc_col-sm-4 wpb_column column_container  ">
                    <div class="vc_style">
                        <div class="column_container">
                            <div class="ww-fancy-box wrapper fancy-box-style-8">
                                <div class="ww-fancy-box-title"><h4><i class="fa fa-usd scale-up animate-element"></i> <span class="title">COMPETITIVE PRICING</span></h4></div>
                                <div class="ww-fancy-box-content"><p></p>
                                    <p>Trade on consistently tight spreads, in most market conditions. Our pricing is reliable, and always transparent. We charge 1 (one) flat-rate commission for each round trip trade (open and close), instead of a commission at open and another at close. This allows us to offer very competitive rates and widen your own profit margin.</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vc_col-sm-4 wpb_column column_container  ">
                    <div class="vc_style">
                        <div class="column_container">
                            <div class="ww-fancy-box wrapper fancy-box-style-8">
                                <div class="ww-fancy-box-title"><h4><i class="fa fa-tachometer scale-up animate-element"></i> <span class="title">SUPERIOR EXECUTION</span></h4></div>
                                <div class="ww-fancy-box-content"><p></p>
                                    <p>Because we provide Straight Through Processing, your trade speed has near immediate completion. Automation of the trade process, with the goal of providing you the best execution on each and every trade.</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vc_col-sm-4 wpb_column column_container  ">
                    <div class="vc_style">
                        <div class="column_container">
                            <div class="ww-fancy-box wrapper fancy-box-style-8">
                                <div class="ww-fancy-box-title"><h4><i class="fa fa-tablet scale-up animate-element"></i> <span class="title">MOBILE TRADING</span></h4></div>
                                <div class="ww-fancy-box-content"><p></p>
                                    <p>With our <a href="{{ pathOrUrl('_tools') }}">native apps</a> for smartphones and tablets, you will enjoy the flexibility of being able to monitor accounts and trades from your iOS and Android devices. We make them available for you to download and use, at no additional charge.</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    {{ block('customDarkStartElement') }}
    <h1 class="text-center" style="color: #fff;">The complete solution for seasoned traders, part-time traders, and those new to Forex.</h1>
    <p class="text-center" style="color: #f5f5f5; text-align: center; margin-bottom: 5px;"><span class="text-editor" style="font-family: 'opensansbold';">InfinityFXGlobal</span> is more than just another trading platform. Our clients will be able to <span class="text-editor" style="font-family: 'opensansbold';">simply setup an account</span></p>
    <p class="text-center" style="color: #f5f5f5; text-align: center; margin-top: 0px;">and watch our <span class="text-editor" style="font-family: 'opensansbold';">proprietary software</span> trade close to <span class="text-editor" style="font-family: 'opensansbold';">20 currencies simultaneously</span>.</p>
    <p class="text-center" style="color: #f5f5f5; text-align: center; margin-bottom: 0px;">
        <img class="aligncenter size-full wp-image-6278" style="margin-top: 30px;" src="{{ asset('bundles/site/images/ipadair.png') }}" alt="homepage2-ipadair" width="753" height="440"/>
    </p>
    {{ block('customDarkEndElement') }}

    <div class="" style="padding-top: 70px; padding-bottom: 70px;">
        <div class="container">
            <div class="row">
                <div class="vc_col-sm-4 wpb_column column_container">
                    <div class="vc_style">

                        <div class="column_container">
                            <div class="ww-fancy-box wrapper fancy-box-style-2">
                                <div class="ww-fancy-box-title">
                                    <h4><i class="fa fa-question-circle left-to-right animate-element"></i> <span class="title">What Is Forex?</span></h4>
                                </div>
                                <div class="ww-fancy-box-content">
                                    <p>Forex is a commonly used abbreviation for "foreign exchange," and it is typically used to describe trading in the foreign exchange market by investors and speculators.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-4 wpb_column column_container">
                    <div class="vc_style">

                        <div class="column_container">
                            <div class="ww-fancy-box wrapper fancy-box-style-2">
                                <div class="ww-fancy-box-title"><h4><i class="fa fa-money left-to-right animate-element"></i> <span class="title">What Is An Exchange Rate?</span></h4></div>
                                <div class="ww-fancy-box-content"><p>The foreign exchange market is a global decentralized marketplace that determines the relative values of different currencies. Unlike other markets, there is no centralized depository or exchange where transactions are conducted.</p></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="vc_col-sm-4 wpb_column column_container">
                    <div class="vc_style">

                        <div class="column_container">
                            <div class="ww-fancy-box wrapper fancy-box-style-2">
                                <div class="ww-fancy-box-title"><h4><i class="fa fa-arrows-v left-to-right animate-element"></i> <span class="title">Why Do Exchange Rates Change?</span></h4></div>
                                <div class="ww-fancy-box-content"><p>Currencies trade on an open market, just like stocks, bonds, computers, cars, and many other goods and services. A currency's value fluctuates as its supply and demand fluctuates, just like anything else.</p></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="vc_col-sm-4 wpb_column column_container">
                <div class="vc_style">

                    <div class="column_container">
                        <div class="ww-fancy-box wrapper fancy-box-style-2">
                            <div class="ww-fancy-box-title"><h4><i class="fa fa-sun-o left-to-right animate-element"></i> <span class="title">Forex never sleeps</span></h4></div>
                            <div class="ww-fancy-box-content"><p>Trading goes on all around the world during different countries' business hours. You can, therefore, trade major currencies at any time, 24 hours per day, 5 days per week. Since there are no set exchange hours, it means that there is also something happening at almost any time of the day or night.<sup>1</sup></p></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="vc_col-sm-4 wpb_column column_container">
                <div class="vc_style">

                    <div class="column_container">
                        <div class="ww-fancy-box wrapper fancy-box-style-2">
                            <div class="ww-fancy-box-title"><h4><i class="fa fa-tasks left-to-right animate-element"></i> <span class="title">Go long or short</span></h4></div>
                            <div class="ww-fancy-box-content"><p>Unlike many other financial markets, where it can be difficult to sell short, there are no limitations on shorting currencies. If you think a currency will go up, buy it. If you think it will fall, sell it. This means there is no such thing as a "bear market" in forex - you can make (or lose) money any time.</p></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="vc_col-sm-4 wpb_column column_container">
                <div class="vc_style">

                    <div class="column_container">
                        <div class="ww-fancy-box wrapper fancy-box-style-2">
                            <div class="ww-fancy-box-title"><h4><i class="fa fa-life-ring left-to-right animate-element"></i> <span class="title">Low trading costs</span></h4></div>
                            <div class="ww-fancy-box-content"><p>Most forex accounts are made up of low, competitive commissions and super-tight spreads. You trade the direct quotes from our liquidity providers with no hidden markups.</p></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="container">

            <div class="vc_col-sm-4 wpb_column column_container">
                <div class="vc_style">

                    <div class="column_container">
                        <div class="ww-fancy-box wrapper fancy-box-style-2">
                            <div class="ww-fancy-box-title"><h4><i class="fa fa-line-chart left-to-right animate-element"></i> <span class="title">Unmatched liquidity</span></h4></div>
                            <div class="ww-fancy-box-content"><p>Because forex is a $4 trillion a day market, with most trading concentrated in only a few currencies, there are always a lot of people trading. This makes it typically very easy to get into and out of trades at any time, even in large sizes.</p></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="vc_col-sm-4 wpb_column column_container">
                <div class="vc_style">

                    <div class="column_container">
                        <div class="ww-fancy-box wrapper fancy-box-style-2">
                            <div class="ww-fancy-box-title"><h4><i class="fa fa-magnet left-to-right animate-element"></i> <span class="title">Available leverage</span></h4></div>
                            <div class="ww-fancy-box-content"><p>Because of the deep liquidity available in the forex market, you can trade forex with considerable leverage (up to 300:1). This can allow you to take advantage of even the smallest moves in the market. Leverage is a double-edged sword, of course, as it can significantly increase your losses as well as your gains.</p></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="vc_col-sm-4 wpb_column column_container">
                <div class="vc_style">

                    <div class="column_container">
                        <div class="ww-fancy-box wrapper fancy-box-style-2">
                            <div class="ww-fancy-box-title"><h4><i class="fa fa-arrows left-to-right animate-element"></i> <span class="title">International exposure</span></h4></div>
                            <div class="ww-fancy-box-content"><p>As the world becomes more and more global, investors hunt for opportunities anywhere they can. If you want to take a broad opinion and invest in another country (or sell it short!), forex is an easy way to gain exposure while avoiding vagaries such as foreign securities laws and financial statements in other languages.</p></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="container small">
            {{ block('span12ColumnsStart') }}
            <hr/>
            {{ block('spanColumnsEnd') }}
        </div>

        <div class="container small">
            {{ block('span12ColumnsStart') }}
            <p><sup>1</sup> Subject to available liquidity, the trading desk opens on Sundays between 5:00 PM ET and 5:15 PM ET. The trading desk closes on Fridays at 4:55 PM ET. Orders placed prior may be filled until 5 pm (ET).</p>
            {{ block('spanColumnsEnd') }}
        </div>

    </div>

    {{ block('highlightSectionStart') }}
    <p style="text-align: center; font-size: 24px;"><strong>InfinityFXGlobal</strong> is more than just another <strong>trading</strong> platform</p>
    <p class="large" style="text-align: center;">Open a winning managed account and benefit from our leverage up to 300:1, spreads as low as 2 pips, ability to hedge positions, a non-dealing desk environment, and more.</p>
    {{ block('highlightSectionEnd') }}

    <div class="stripe-video-bg stripe-parallax-bg" data-prlx-speed="0.9" style="background-image: url({{ asset('bundles/site/images/Coffevid-bg.jpg') }});background-repeat: no-repeat;background-attachment: fixed;background-clip: padding-box;background-size: cover;padding-top: 120px;padding-bottom: 80px">
        {#<video class="video-parallax" loop="1" preload="1" autoplay="autoplay" poster="//7722" controls="controls">#}
            {#<source type="video/webm" src="/bundles/site/images/drinkingcoffee-wide.webm"/>#}
        {#</video>#}
        {#<div class="ww-video-bg"></div>#}
        <div class="container   ">
            <div class="vc_col-sm-12 wpb_column column_container  ">
                <div class="vc_style">
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper"><p style="text-align: center;"><span style="font-size: 45px; line-height: 56px; color: #fff; font-family: 'opensanslight';"><i class=" fa fa-coffee"> </i></span></p>
                            <p style="text-align: center; margin-bottom: 60px;"><span style="font-size: 45px; line-height: 56px; color: #fff; font-family: 'opensanslight';">Sit back &amp; relax while InfinityFXGlobal<br/>manages your Forex account</span></p>
                            <p style="text-align: center;"><a href="{{ pathOrUrl('_about') }}" class="ww-button sf-button large preset slightlyrounded bottom-to-top animate-element "><span><i class="fa fa-coffee"></i> LEARN MORE</span></a></p></div>
                    </div>
                    <div class="ww-gap gap" style="line-height: 60px; height: 60px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ww-custom " style="background-color: #f5f5f5;background-repeat: no-repeat;background-attachment: scroll;background-clip: padding-box;padding-bottom: 10px">
        <div class="container   ">
            <div class="row">
                <div class="vc_col-sm-8 wpb_column column_container  ">
                    <div class="vc_style">
                        <div class="ww-gap gap" style="line-height: 50px; height: 50px;"></div>
                        <div class="column_container">
                            <div class="ww-fancy-box wrapper fancy-box-style-1">
                                <div class="ww-fancy-box-title"><h2> <span class="title">Our partners</span></h2></div>
                                <div class="ww-fancy-box-content"><p></p>
                                    <p>We are registered (and in good standing) with the <a href="{{ pathOrUrl('http://www.fsaseychelles.sc/') }}">Financial Services Authority of Seychelles</a> (IBC #127118).</p>
                                    <p>Because of the relationship we've built with London-based <a href="{{ pathOrUrl('http://xopenhub.pro/') }}">X Open Hub</a> and <a href="{{ pathOrUrl('http://www.hsbc.com/') }}">HSBC</a>, we're able to provide managed accounts with liquidity partnerships, enabling them to be regulated under our Seychelles registration.</p>
                                    <p class="text-center"></p>
                                </div>
                            </div>
                        </div>
                        <div class="ww-gap gap" style="line-height: 35px; height: 35px;"></div>
                    </div>
                </div>
                <div class="vc_col-sm-4 wpb_column column_container " style="text-align: center;">
                    <div class="vc_style">
                        <div class="ww-gap gap" style="line-height: 35px; height: 35px;"></div>
                        <div id="ww_carousel_client1419221513_154979a09360d2" class="ww-carousel ww-carousel-client  show-nav ">
                            <div class="ww-content">
                                <div class="ww-nav">
                                    <ul>
                                        <li class="prev"></li>
                                        <li class="next"></li>
                                    </ul>
                                </div>
                                <div class="ww-carousel-list">
                                    <div id="ww_carousel_client_1419221513_154979a09360d2" data-moveslides="1" data-auto="1" data-prevselector="#ww_carousel_client1419221513_154979a09360d2 .prev" data-nextselector="#ww_carousel_client1419221513_154979a09360d2 .next" data-onsliderload="jmnewspro1419221513_154979a09360d2()" data-touchenabled="1" data-controls="true" data-pager="false" data-pause="4000" data-auto="false" data-infiniteloop="true" data-adaptiveheight="true" data-speed="500" data-autohover="true" data-slidemargin="20" data-maxslides="4" data-minslides="1" data-slidewidth="150" data-slideselector="" data-easing="swing" data-usecss="" data-resize="1" class="slider jm-bxslider">

                                        <div class="ww-carousel-item-wrap">
                                            <div class="ww-carousel-item" style="margin-bottom:20px;">
                                                <article id="post-1358" class="post-1358 myclients type-myclients status-publish has-post-thumbnail hentry">
                                                    <div class="ww-carousel-container"><img class="attachment-featuredImageCropped" src="{{ asset('bundles/site/images/partners/x-open-hub.png') }}"/></div>
                                                </article>
                                            </div>
                                        </div>

                                        <div class="ww-carousel-item-wrap">
                                            <div class="ww-carousel-item" style="margin-bottom:20px;">
                                                <article id="post-1369" class="post-1369 myclients type-myclients status-publish has-post-thumbnail hentry">
                                                    <div class="ww-carousel-container"><img class="attachment-featuredImageCropped" src="{{ asset('bundles/site/images/partners/hsbc.png') }}"/></div>
                                                </article>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">function jmnewspro1419221513_154979a09360d2() {
                            }</script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ww-custom " style="background-repeat: no-repeat;background-attachment: scroll;background-clip: padding-box;background-size: cover;padding-top: 50px">
        <div class="container">
            <div class="row">
                <div class="vc_col-sm-12 wpb_column column_container">
                    <div class="vc_style">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <h2 style="text-align: center;">Why InfinityFXGlobal is <strong>OPEN</strong>, and always will be.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="" style="padding-top: 70px; padding-bottom: 70px;">
        <div class="container   ">
            <div class="row">
                <div class="vc_col-sm-12 wpb_column column_container">
                    <div class="vc_style">

                        <div class="column_container">
                            <div class="ww-fancy-box wrapper fancy-box-style-2">
                                <div class="ww-fancy-box-title">
                                    <h4><i class="fa fa-puzzle-piece left-to-right animate-element"> </i> Flexible for any Business!</h4>
                                </div>
                                <div class="ww-fancy-box-content">
                                    <img style="float: right; margin-top: 20px; margin-bottom: 20px;" src="{{ asset('bundles/site/images/computer-homepage.png') }}" alt="laptop-homepage" width="280" />
                                    <p class="text-center" style="text-align: left;">InfinityFXGlobal is open and free for software houses, liquidity providers, developers and solution providers. We simply take a processing fee from each broker on every closed trade.</p>
                                    <p class="text-center" style="text-align: left;">The better the platforms, apps and liquidity that is offered to retail clients the more these clients will trade, meaning the more brokers, liquidity providers, software developers and the InfinityFXGlobal team will earn too.</p>
                                    <p class="text-center" style="text-align: left;">We encourage better apps and trading systems, and are not concerned if 3rd party front end platforms or other applications are better than ours, it only improves the InfinityFXGlobal ecosystem generating more profit for everyone involved.</p>
                                    <p class="text-center" style="text-align: left;">InfinityFXGlobal is open by its essence, and always will be.</p>
                                    {#<p class="ww-read-more "><a href="/visual-composer" title="Show me these amazing styles" target="_self" class="ww-read-more-link"><i class="fa fa-share"></i> Show me these amazing styles</a></p>#}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
