{% extends '::base.html.twig' %}

{% set title = 'Leverage' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}
    <div class="row">
        <p><span class="large">If you follow the value of a currency, such as the American dollar (USD), you will know that daily currency movements are usually very small. Most <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/c/currencypair.asp') }}">currency pairs</a>, on average, move no more than 1 cent per day, which is less than a 1% change.</span> Therefore, to make a respectable return, many currency traders rely on the use of leverage (using margin) to increase their potential returns for small moves in the exchange rate. The leverage that is achievable in the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/ask/answers/06/forexleverage.asp#%23') }}">forex market</a> is one of the highest that individual investors can obtain. Leverage is a loan that is provided to an investor by the broker that is handling his or her forex account. Usually, the amount of leverage provided is either 50:1, 100:1 or 200:1, meaning your broker will allow you to trade up to 200 times the amount of actual cash you wish to trade. Leverage amounts vary depending on your broker and the size of the position you are trading. Standard trading is done on 100,000 units (ie. dollars) of currency, so for a trade of this size, the leverage provided is usually 50:1 or 100:1. Leverage of 200:1 is usually used for positions of $50,000 or less.</p>
    </div>
    <div class="row">
        {{ block('highlightGreySectionStart') }}
        {{ block('span12ColumnsStart') }}
        <p><span class="large">To trade $100,000 of currency with a <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/m/margin.asp') }}">margin</a> of 1%, an investor will only have to deposit $1,000 into his or her <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/m/marginaccount.asp') }}">margin account</a>.</span> The leverage provided on a trade like this is 100:1. Leverage of this size is significantly larger than the 2:1 leverage commonly provided in the stock market and the 15:1 leverage provided by the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/f/futuresmarket.asp') }}">futures market</a>. Although 100:1 leverage may seem extremely risky, the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/r/risk.asp') }}">risk</a> is significantly less when you consider that currency prices usually change by less than 1% over the course of a day. If currencies fluctuated as much as stocks, brokers would not be willing to provide such large leverage amounts.</p>
        {{ block('spanColumnsEnd') }}
        {{ block('highlightGreySectionEnd') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('span4ColumnsStart') }}
    <div class="row">
        {{ block('aboutSideNav') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}
    <div class="row">
        <div style="background-image: url({{ asset('bundles/site/images/leverage.jpg') }}); background-repeat: no-repeat; background-attachment: scroll; background-clip: padding-box; background-size: cover; padding-top: 100px; padding-bottom: 100px; background-position: center -111px;" data-prlx-speed="0.7" class="ww-custom stripe-parallax-bg ">
            <div class="container   ">
                {{ block('fancyboxSpan12ColumnsStart') }}
                <p align="left" class="large">Although the ability to earn significant profits by using leverage is substantial, leverage can also work against you. For example, if the currency behind one of your trades moves in the opposite direction of what you believed would happen, leverage will greatly amplify the losses. To avoid such losses, experienced forex traders usually implement a strict trading style that includes the use of <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/s/stoporder.asp') }}">stop</a> and <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/l/limitorder.asp') }}">limit orders</a></p>
                {{ block('fancyboxSpanColumnsEnd') }}
            </div>
        </div>
    </div>

    {{ block('whiteSectionStart') }}

    {{ block('span12ColumnsStart') }}
    <div class="row">
        <p>The availability of leverage, and massive size of the market and the ease of making fast transactions has increased the popularity of the forex market. Positions can be opened and closed instantaneously at the exact price shown to you, and typically with no commission or <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/t/transactioncosts.asp') }}">transaction fees</a>.In the case of a professionally managed account, where your funds are typically traded with an Expert Advisor, you will pay a commission to the brokerage house that owns and directs the EA. Also, unlike the stock market, in which one large buyer or seller can adversely move the stock price, currency prices are much harder to manipulate because the sheer size of the market prevents any one player from significantly moving the currency price. Currency prices are largely based on supply and demand.</p>
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}