{% extends '::base.html.twig' %}

{% set title = 'Account Login' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    <div class="row">
        {{ block('span12ColumnsStart') }}
            <p class="large">We are committed to providing our Clients with the tools they need to successfully execute their financial strategies. You can login below to load the web application, or download the MT4 Windows application, iPhone, iPad, Android Phone, or Android Tablet application.</p>
        {{ block('spanColumnsEnd') }}
    </div>
    <div class="row">
        {{ block('span12ColumnsStart') }}
            <p align="left"><a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('http://files.metaquotes.net/4643/mt4/stratfx4setup.exe') }}" target="_blank"><i class="fa fa-windows"></i> <span>DOWNLOAD MT4</span></a> <a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('https://itunes.apple.com/pl/app/xmobile/id658880476?mt=8') }}" target="_blank"><i class="fa fa-apple"></i> <span>IPHONE</span></a> <a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('https://itunes.apple.com/pl/app/xtab/id658884327?mt=8') }}" target="_blank"><i class="fa fa-apple"></i> <span>IPAD</span></a> <a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('https://play.google.com/store/apps/details?id=com.xtech.x3Mobile&hl=en') }}" target="_blank"><i class="fa fa-android"></i> <span>ANDROID PHONE</span></a> <a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('https://play.google.com/store/apps/details?id=com.xtech.x3tab&hl=en') }}" target="_blank"><i class="fa fa-android"></i> <span>ANDROID TABLET</span></a></p>
        {{ block('spanColumnsEnd') }}
    </div>

    <div class="row">
        {{ block('span12ColumnsStart') }}
            <iframe src="https://xs.xopenhub.pro/ifxg/real/" width="100%"></iframe>
        {{ block('spanColumnsEnd') }}
    </div>

    {{ block('whiteSectionEnd') }}

{% endblock %}