{% extends '::base.html.twig' %}

{% set title = 'Making and Losing Money' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}
    <div class="row">
        <h2>How People Make or Lose Money Trading Forex:</h2>
        <p class="large">By converting your money into a different currency, you are hoping that the new currency increases in value. When you convert back to your initial currency, ideally you will have more money than you started with.</p>
    </div>

    <div class="row">
        {{ block('highlightGreySectionStart') }}
        {{ block('span6ColumnsStart') }}
        <p>Let's take a look at a simple example of how someone can make money from a forex transaction. Suppose you have $900 U.S. dollars and you exchange that for $1000 Euro’s. One week later, the EUR/USD <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/WalkthroughServ/w.investopedia.com/terms/e/exchangerate.asp') }}">exchange rate</a> goes up from 0.90 to 1.0, so the Euro which you own has increased in value compared to the U.S. dollar. You could then exchange the $1000 EUR you have back into U.S. dollars and you would receive $1000 USD.</p>
        {{ block('spanColumnsEnd') }}
        {{ block('span6ColumnsStart') }}
        <img src="{{ asset('bundles/site/images/laptop_ifxg.png') }}" width="100%" />
        {{ block('spanColumnsEnd') }}
        {{ block('highlightGreySectionEnd') }}
    </div>

    <div class="row">
        <p>So you started with $900 USD, you now have $1000 USD, a profit of $100 USD.</p>
    </div>
    <div class="row">
        <table width="100%" class="bordered">
            <thead>
                <tr>
                    <th class="large">Your Trade Decision</th>
                    <th class="large">EUR</th>
                    <th class="large">USD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>You buy 1,000 EUR at the EUR/USD rate of 0.90</td>
                    <td>+1000</td>
                    <td>-900</td>
                </tr>
                <tr>
                    <td>A week later, the EUR/USD rises to 1.00 and you exchange your 1,000 EUR back into U.S. dollars</td>
                    <td>-1000</td>
                    <td>+1000</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>PROFIT</strong></td>
                    <td></td>
                    <td><strong>+100</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('span4ColumnsStart') }}
    <div class="row">
        {{ block('aboutSideNav') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}