{% extends '::base.html.twig' %}

{% set title = 'Most Tradable Currency Pairs' %}
{% set showTitleHeader = 'false' %}

{% block body %}

	<div style="background-image: url({{ asset('bundles/site/images/currency_pairs.jpg') }}); background-repeat: no-repeat; background-attachment: scroll; background-clip: padding-box; background-size: cover; padding-top: 100px; padding-bottom: 100px; background-position: center -111px;" data-prlx-speed="0.7" class="ww-custom stripe-parallax-bg ">
		<div class="container   ">
			{{ block('fancyboxSpan12ColumnsStart') }}
			<h2 align="left">{{ title }}</h2>
			{{ block('fancyboxSpanColumnsEnd') }}
		</div>
	</div>

	{{ block('whiteSectionStart') }}

	{{ block('span8ColumnsStart') }}

	<div class="row">
		{{ block('highlightGreySectionStart') }}
		{{ block('span12ColumnsStart') }}
		<h3>The four <strong>most popular</strong>, also known as <strong>"the majors"</strong>...</h3>
		{{ block('spanColumnsEnd') }}
		{{ block('highlightGreySectionEnd') }}
	</div>

	<div class="row">
		<ul>
			<li><label>EUR/USD (euro/dollar)</label>"euro"</li>
			<li><label>USD/JPY (U.S. dollar/Japanese yen)</label>"gopher"</li>
			<li><label>GBP/USD (British pound/dollar)</label>"cable"</li>
			<li><label>USD/CHF (U.S. dollar/Swiss franc)</label>"swissie"</li>
		</ul>
	</div>

	{{ block('whiteSectionStart') }}

	<div class="row">
		{{ block('highlightGreySectionStart') }}
		{{ block('span12ColumnsStart') }}
		<h3 align="center">The three <strong>less popular</strong>...</h3>
		{{ block('spanColumnsEnd') }}
		{{ block('highlightGreySectionEnd') }}
	</div>

	<div class="row">
		<ul>
			<li><label>AUD/USD (Australian dollar/U.S. dollar)</label>"aussie"</li>
			<li><label>USD/CAD (U.S. dollar/Canadian dollar)</label>"loonie"</li>
			<li><label>NZD/USD (New Zealand dollar/U.S. dollar)</label>"kiwi"</li>
		</ul>
	</div>

	{{ block('whiteSectionEnd') }}

	{{ block('spanColumnsEnd') }}

	{{ block('span4ColumnsStart') }}
	<div class="row">
		{{ block('aboutSideNav') }}
	</div>
	{{ block('spanColumnsEnd') }}

	{{ block('whiteSectionEnd') }}

{% endblock %}