{% extends '::base.html.twig' %}

{% set title = 'Pricing Advantage' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}
    <div class="row">
        <h2>Competitive spreads</h2>
        <p>Our pricing is extremely competitive, reliable and fully transparent. InfinityFXGlobal and our partners together have spent over a decade investing in automated trading technology and building a deep liquidity network of bank trading partners, so that we can consistently quote tight spreads, in most market conditions.</p>
    </div>
    <div class="row">
        <h2>Execution quality</h2>
        <p>Quality of trade execution can impact trading returns as much as tight spreads. At InfinityFXGlobal, we've automated every aspect of the trade process, with the goal of ensuring your trades are executed as fast as possible at the price you expect – or a better one.</p>
        <p><a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('_create_an_account') }}" target="_blank"><span>CREATE AN ACCOUNT NOW</span></a></p>
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('span4ColumnsStart') }}
    <div class="row">
        {{ block('aboutSideNav') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}