{% extends '::base.html.twig' %}

{% set title = 'Support' %}
{% set showTitleHeader = 'false' %}

{% block body %}

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB6cMgCiLYquDqC7TAuop7oGipSLVgOE6g" type="text/javascript"></script>
    <script type="text/javascript">
        function initialize() {

            var mapOptions = {
                center: { lat: 33.44838, lng: -112.07404},
                zoom: 12,
                scrollwheel: false,
                mapTypeControl: false
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            marker = new google.maps.Marker({
                map:map,
                draggable:true,
                animation: google.maps.Animation.DROP,
                position: parliament
            });

            google.maps.event.addListener(marker, 'click', toggleBounce);

            var image = '{{ asset('bundles/site/images/marker.png') }}';
            var myLatLng = new google.maps.LatLng(-33.890542, 151.274856);
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });

        }

        function toggleBounce() {

            if (marker.getAnimation() != null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div class="" style="padding-bottom: 10px">
        <div class="no-container   ">
            <div class="vc_col-sm-12 wpb_column column_container  ">
                <div class="vc_style">
                    <div class="sc-map ww-map">
                        <div class="wrap">
                            <div id="map-canvas" class="google_map google_map" style=" height:300px;"></div>
                        </div>
                    </div>
                    <div class="ww-gap gap" style="line-height: 40px; height: 40px;"></div>
                </div>
            </div>
        </div>
    </div>



    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}
    <div class="row">
        <h2>Lets Start a Conversation</h2>
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="row">
        <form action="{{path("_support")}}" method="post">
            {{ form_widget(form) }}
            <p>
                <button type="submit" class="ww-button sf-button">SEND MESSAGE</button>
            </p>
        </form>
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('span4ColumnsStart') }}
    <div class="row">
        {{ block('sideNavStart') }}
        <div class="heading highlighted"><h4>Contact Info</h4></div>
        <p>
            <strong>Offices:</strong> Near Phoenix, Arizona<br/>
            <strong>Bank:</strong> <a href="{{ pathOrUrl('http://www.hsbc.com/') }}">HSBC</a>, via <a href="{{ pathOrUrl('https://www.chase.com/') }}">CHASE Bank</a><br/>
            <strong>Toll Free:</strong> +1&middot;844&middot;ASK&middot;IFXG (275&middot;4394)<br/>
            <strong>Email:</strong> <a href="{{ pathOrUrl('mailto:prodesk@infinityfxglobal.com') }}">prodesk@infinityfxglobal.com</a>
        </p>
        {{ block('sideNavEnd') }}
        {{ block('supportSideNav') }}
    </div>
	{{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}