{% extends '::base.html.twig' %}

{% set title = 'The Risks' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}
    <div class="row">
        <p class="large">A number of factors such as the size, <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/v/volatility.asp') }}">volatility</a> and global structure of the foreign exchange market have all contributed to its rapid success. Given the high <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/l/liquidity.asp') }}">liquidity</a> of the forex market, investors are able to place extremely large trades without directly affecting any given exchange rate.</p>
    </div>

    <div class="row">
        {{ block('highlightGreySectionStart') }}
        {{ block('span12ColumnsStart') }}
        <p>These large positions are made possible for forex traders because of the low <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/m/margin.asp') }}">margin</a> requirements used by the majority of brokers. As we previously discussed, it is possible for a trader to have a position of US$100,000 by putting down as little as US$1,000 up front and borrowing the remainder from his or her forex broker.</p>
        {{ block('spanColumnsEnd') }}
        {{ block('highlightGreySectionEnd') }}
    </div>

    <div class="row">
        <p>This amount of leverage acts as a double-edged sword because investors can realize large gains when exchange rates make a small favorable change, but they can also incur huge losses when the rates move against them. Despite the foreign exchange risks, the amount of leverage available in the forex market is what makes it attractive for many <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/s/speculator.asp') }}">speculators</a>.</p>
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('span4ColumnsStart') }}
    <div class="row">
        {{ block('aboutSideNav') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}