{% extends '::base.html.twig' %}

{% set title = 'Tools' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    <div class="row">
        {{ block('span12ColumnsStart') }}
            <p class="large">We are committed to providing our Clients with the tools they need to successfully execute their financial strategies. From the desktop to the mobile phone, all of our trading tools allow our partners and clients to immediately <strong>synchronize all accounts and trades</strong>, from any device and at any time.</p>
        {{ block('spanColumnsEnd') }}
    </div>
    <div class="row">
        {{ block('span12ColumnsStart') }}
            <p align="left"><a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('http://files.metaquotes.net/4643/mt4/stratfx4setup.exe') }}" target="_blank"><i class="fa fa-windows"></i> <span>DOWNLOAD MT4</span></a> <a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('https://itunes.apple.com/pl/app/xmobile/id658880476?mt=8') }}" target="_blank"><i class="fa fa-apple"></i> <span>IPHONE</span></a> <a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('https://itunes.apple.com/pl/app/xtab/id658884327?mt=8') }}" target="_blank"><i class="fa fa-apple"></i> <span>IPAD</span></a> <a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('https://play.google.com/store/apps/details?id=com.xtech.x3Mobile&hl=en') }}" target="_blank"><i class="fa fa-android"></i> <span>ANDROID PHONE</span></a> <a class="ww-button sf-button large preset standard" href="{{ pathOrUrl('https://play.google.com/store/apps/details?id=com.xtech.x3tab&hl=en') }}" target="_blank"><i class="fa fa-android"></i> <span>ANDROID TABLET</span></a></p>
        {{ block('spanColumnsEnd') }}
    </div>

    {{ block('whiteSectionEnd') }}

    {{ block('highlightSectionStart') }}
    <div class="row">
        <p style="text-align: center; font-size: 24px;"><strong>InfinityFXGlobal</strong> is more than just another <strong>trading</strong> platform</p>
        <p class="large" style="text-align: center;">Open a winning managed account and benefit from our leverage up to 300:1, spreads as low as 2 pips, ability to hedge positions, a non-dealing desk environment, and more.</p>
    </div>
    {{ block('highlightSectionEnd') }}

    <div id="xfinancial">
        {{ block('whiteSectionStart') }}
        <div class="row">
            {{ block('span6ColumnsStart') }}
            <h3>xFinancial</h3>
            <p>Also called X FSOL, X Financial is a full-featured and licensed MetaTrader4 (MT4) desktop PC download. It gives you the edge in today's busy trading arena with live quotes, unlimited real-time charts, in-depth news and analytics, order management tools, indicators, Expert Advisors (EA's), and more.</p>
            <p>It is a complete MT4 environment with enhanced charting functionality and sophisticated order management tools that help you to control your positions.</p>
            {{ block('spanColumnsEnd') }}

            {{ block('span6ColumnsStart') }}
            <img alt="xMobile" src="{{ asset('bundles/site/images/xmobile.png') }}" class="right-to-left animate-element ">
            {{ block('spanColumnsEnd') }}
        </div>
        {{ block('whiteSectionEnd') }}
    </div>

    <div id="xstation">
        {{ block('greySectionStart') }}
        <div class="row">
            {{ block('span6ColumnsStart') }}
            <img alt="xTablet" src="{{ asset('bundles/site/images/xtablet.png') }}" class="left-to-right animate-element">
            {{ block('spanColumnsEnd') }}

            {{ block('span6ColumnsStart') }}
            <h3>xStation</h3>
            <p>Designed to operate on any computer and in any browser, X Station is a game changer for today's trading environment. It comes branded with your firm's name and has Social Trading fully integrated.</p>
            <p>X Station was created for traders who don't want to install trading software, prefer to use a Mac, have poor internet connections, or want to avoid connecting terminals through a proxy server. With X Station, you have fast, secure access every time you connect.</p>
            {{ block('spanColumnsEnd') }}
        </div>
        {{ block('greySectionEnd') }}
    </div>

    <div id="xsocial">
        {{ block('whiteSectionStart') }}
        <div class="row">
            {{ block('span6ColumnsStart') }}
            <h3>xSocial</h3>
            <p>Our social trading tool is seamlessly integrated into X Station. It is fully regulated, with a unique contrary trading feature. You can follow real traders in the community, instead of those self-promoted 'traders'. You can copy these signal providers or take a contrary position.</p>
            <p>You can sort traders (by win percentage, number of trades, etc) and create your own watch list. You can also track the market sentiment and split by winners, losers, etc.</p>
            {{ block('spanColumnsEnd') }}

            {{ block('span6ColumnsStart') }}
            <img alt="xMobile" src="{{ asset('bundles/site/images/xmobile.png') }}" class="right-to-left animate-element ">
            {{ block('spanColumnsEnd') }}
        </div>
        {{ block('whiteSectionEnd') }}
    </div>

    <div id="xtablet">
        {{ block('greySectionStart') }}
        <div class="row">
            {{ block('span6ColumnsStart') }}
            <img alt="xTablet" src="{{ asset('bundles/site/images/xtablet.png') }}" class="left-to-right animate-element">
            {{ block('spanColumnsEnd') }}

            {{ block('span6ColumnsStart') }}
            <h3>xTablet</h3>
            <p>With the ability to place orders, access advanced charting, get current news and analysis, and more, the X Tablet apps for iOS and Android are a much-needed sidekick for today's busy IB's and FX Managers.</p>
            <p>Designed to complement X Station, the X Tablet app allow for fast execution and stable operation, from anywhere.</p>
            <p>All of our iOS and Android apps were developed specifically for tablets and smartphones. They are free and available for download in the Apple and Google App Stores.</p>
            {{ block('spanColumnsEnd') }}
        </div>
        {{ block('greySectionEnd') }}
    </div>

    <div id="xmobile">
        {{ block('whiteSectionStart') }}
        <div class="row">
            {{ block('span6ColumnsStart') }}
            <h3>xMobile</h3>
            <p>With the ability to place orders, access advanced charting, get current news and analysis, and more, the X Mobile apps for iOS and Android are a much-needed sidekick for today's busy IB's and FX Managers.</p>
            <p>Designed to complement our X Station product, the X Mobile apps allow for fast execution and stable operation, from anywhere.</p>
            <p>All of our iOS and Android apps were developed specifically for tablets and smartphones. They are free and available for download in the Apple and Google App Stores.</p>
            {{ block('spanColumnsEnd') }}

            {{ block('span6ColumnsStart') }}
            <img alt="xMobile" src="{{ asset('bundles/site/images/xmobile.png') }}" class="right-to-left animate-element ">
            {{ block('spanColumnsEnd') }}
        </div>
        {{ block('whiteSectionEnd') }}
    </div>
{% endblock %}
