{% extends '::base.html.twig' %}

{% set title = 'Trading Technology' %}

{% block body %}

    {{ block('whiteSectionStart') }}

    {{ block('span8ColumnsStart') }}
    <div class="row">
        <p class="large">We specialize in Forex managed accounts. Our experts spend a great deal of time researching, writing and testing our state of the art, Expert Advisors (EA).  These are software programs that take the emotion out of trading. Emotions can make even the most experienced trader interfere with their trading plan and start making bad decisions and depleting their trading account. All of our EA’s are tested. Only after the EA has met or surpassed our trading expectations is it introduced and available for use with of clients accounts.</p>
    </div>
    <div class="row">
        {{ block('highlightGreySectionStart') }}
        {{ block('span12ColumnsStart') }}
        <h3>Market strategy</h3>
        <p>It is important to understand a few facts about investing into a forex managed account.</p>
        <ol>
            <li>NO trading strategy will work, unless your FOREX broker is honest.</li>
            <li>There are two types of brokers.
                <ol>
                    <li><strong><u>A Dealing Desk</u></strong> will be aware of where you have placed your stops as they can see this on their systems and therefore they can trade against your positions or run your stops (Sometimes called stop gunning) and the more you win, the more you are red flagged!</li>
                    <li><strong><u>STP = Straight through processing</u></strong>. What this means is that your trading order will be placed straight through to the liquidity pool provider rather than being placed through a dealing desk.</li>
                </ol>
        </ol>
        {{ block('spanColumnsEnd') }}
        {{ block('highlightGreySectionEnd') }}
    </div>
    <div class="row">
        <p>So when you join any managed forex account program you want to make sure the fund manager trades the managed account through a true STP forex broker.</p>
        <p>InfinityFXGlobal managed accounts, are with a very reputable, fully FSA regulated STP broker.</p>
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('span4ColumnsStart') }}
    <div class="row">
        {{ block('aboutSideNav') }}
    </div>
    {{ block('spanColumnsEnd') }}

    {{ block('whiteSectionEnd') }}

{% endblock %}