{% extends '::base.html.twig' %}

{% set title = 'What Moves a Currency?' %}

{% block body %}

	{{ block('whiteSectionStart') }}

	{{ block('span8ColumnsStart') }}
	<div class="row">
		<h2>Economics</h2>
		<p class="large">Similar to the stock market, traders in forex markets rely on two forms of analysis: <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/t/technicalanalysis.asp') }}">technical analysis</a> and <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/f/fundamentalanalysis.asp') }}">fundamental analysis</a>. Technical analysis is used similarly in stocks as in forex, by analyzing charts and indicators. Fundamental analysis is a bit different – while companies have financial statements to analyze, countries have a swath of economic reports and indicators that need to be analyzed. In order to analyze how much you think a country's currency is worth, you need to evaluate the economic situation of the country in order to more effectively trade currencies.</p>
	</div>
	<div class="row">
		{{ block('highlightGreySectionStart') }}
		{{ block('span12ColumnsStart') }}
		<h3>Economic Indicators</h3>
		<p>Economic indicators are reports that detail a country's economic performance in a specific area. These reports are usually published periodically by governmental agencies or private organizations. Although there are numerous policies and factors that can affect a country's performance, the factors that are directly measurable are included in these economic reports. These reports are published periodically, so changes in the economic indicators can be compared to similar periods. Economic reports typically have the same effect on currencies that earnings reports or quarterly reports have on companies. In forex, like in most markets, if the report deviates from what was expected by economists or analysts to happen, then it can cause large movements in the price of the currency.</p>
		<p>Below are some of the major economic reports and indicators used for fundamental analysis in the forex market. You've probably heard of some of these indicators, such as the GDP, because many of these also have a substantial effect on equity markets.</p>
		{{ block('spanColumnsEnd') }}
		{{ block('highlightGreySectionEnd') }}
	</div>

	{{ block('spanColumnsEnd') }}

	{{ block('span4ColumnsStart') }}
	<div class="row">
		{{ block('aboutSideNav') }}
	</div>
	{{ block('spanColumnsEnd') }}

	{{ block('whiteSectionEnd') }}

	{{ block('greySectionStart') }}
	<div class="row">
		<h2>The Gross Domestic Product (GDP)</h2>
		<p>The <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/g/gdp.asp') }}">GDP</a> is considered by many to be the broadest measure of a country's economic performance. It represents the total market value of all finished goods and services produced in a country in a given year. Most traders don't actually focus on the final GDP report, but rather on the two reports issued a few months before the final GDP: the advance GDP report and the preliminary report. This is because the final GDP figure is frequently considered a <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/l/laggingindicator.asp') }}">lagging indicator</a>, meaning it can confirm a trend but it can't predict a trend, which is not very useful for traders looking to identify a trend. In comparison to the stock market, the GDP report is somewhat similar to the income statement a public company reports at year end. Both give investors and traders an indication of the growth that occurred during the period.</p>
	</div>

	{{ block('greySectionEnd') }}
	<div class="row">
		<div style="background-image: url({{ asset('bundles/site/images/move_currency.jpg') }}); background-repeat: no-repeat; background-attachment: scroll; background-clip: padding-box; background-size: cover; padding-top: 100px; padding-bottom: 100px; background-position: center -111px;" data-prlx-speed="0.7" class="ww-custom stripe-parallax-bg ">
			<div class="container   ">
				{{ block('fancyboxSpan12ColumnsStart') }}
				<h3 align="left">Retail Sales</h3>
				<p align="left" class="large">The <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/r/retail-sales.asp') }}">retail sales</a> is a very closely watched report that measures the total receipts, or dollar value, of all merchandise sold in retail stores in a given country. The report estimates the total merchandise sold by taking sample data from retailers across the country. Because consumers represent more than two-thirds of the economy, this report is very useful to traders to gauge the direction of the economy. Also, because the report's data is based on the previous month sales, it is a timely indicator, unlike the GDP report which is a lagging indicator. The content in the retail sales report can cause above normal volatility in the market, and information in the report can also be used to gauge <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/i/inflation.asp') }}">inflationary</a> pressures that affect Fed rates.</p>
				{{ block('fancyboxSpanColumnsEnd') }}
			</div>
		</div>
	</div>

	{{ block('whiteSectionStart') }}

	{{ block('span12ColumnsStart') }}
	<div class="row">
		<h3>Industrial Production</h3>
		<p>The industrial production report, released monthly by the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/f/federalreservebank.asp') }}">Federal Reserve</a>, reports on the changes in the production of factories, mines and utilities in the U.S. One of the closely watched measures included in this report is the capacity utilization ratio which estimates the level of production activity in the economy. It is preferable for a country to see increasing values of production and capacity utilization at high levels. Typically, capacity utilization in the range of 82-85% is considered "tight" and can increase the likelihood of price increases or supply shortages in the near term. Levels below 80% are usually interpreted as showing "slack" in the economy which might increase the likelihood of a recession.</p>
	</div>
	{{ block('spanColumnsEnd') }}

	{{ block('whiteSectionEnd') }}

	{{ block('greySectionStart') }}

	{{ block('span12ColumnsStart') }}
	<div class="row">
		<h3>Consumer Price Index (CPI)</h3>
		<p>The <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/c/consumerpriceindex.asp') }}">CPI</a> is an economic indicator that measures the level of price changes in the economy, and is the benchmark for measuring inflation. Using a basket of goods that is representative of the goods and services in the economy, the CPI compares the price changes on this basket year after year. This report is one of the more important economic indicators available, and its release can increase volatility in equity, fixed income, and forex markets. The implications of inflation can be a critical catalyst for movements in the forex market.</p>
	</div>
	{{ block('spanColumnsEnd') }}

	{{ block('greySectionEnd') }}

	{{ block('whiteSectionStart') }}

	{{ block('span12ColumnsStart') }}
	<div class="row">
		<h3>Conclusion</h3>
		<p>This is just a brief overview of some of the major reports you should be aware of as a forex trader. There are numerous other reports and factors that can affect a currency's value, but here are some tips to keep in mind that will help you keep on top of your game.</p>
	</div>
	<div class="row">
		{{ block('highlightGreySectionStart') }}
		{{ block('span12ColumnsStart') }}
		<p class="large">Know when economic reports are due to be released. Keep a calendar of release dates on hand to make sure you don't fall behind. Quite often, the markets will also be volatile before the release of a major report based on expectations.</p>
		{{ block('spanColumnsEnd') }}
		{{ block('highlightGreySectionEnd') }}
	</div>
	<div class="row">
		<p>These reports are not the only fundamental factors to watch. There are also several meetings that provide quotes and commentary, which can affect markets just as much as any report. These meetings are often called to discuss <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/articles/trading/04/081804.asp#%23') }}">interest rates</a>, inflation and other issues that affect currency valuations. Even changes in wording when addressing certain issues - the <a target="_blank" href="{{ pathOrUrl('http://www.investopedia.com/terms/f/federalreservesystem.asp') }}">Federal Reserve</a> chairman's comments on interest rates, for example - can cause market volatility.</p>
		<p>Simply reading the reports and examining the commentary can help forex fundamental analysts gain a better understanding of long-term market trends and allow short-term traders to profit from extraordinary happenings.</p>
	</div>
	{{ block('spanColumnsEnd') }}

	{{ block('whiteSectionEnd') }}

{% endblock %}