<p>
    New account creation request from {{ name }}<br/>
    Sent from infinityfxglobal.com/support<br/>
    IP: {{ ip }}<br/>
</p>
<p>
    <strong>Account Type (Individual, Corporate, Managed):</strong> {{ account_type|raw }}<br/>
    <strong>Date:</strong> {{ date|date('Y-m-d') }}<br/>
    <strong>Full Name:</strong> {{ name|raw }}<br/>
    <strong>Date of Birth:</strong> {{ date_of_birth|date('Y-m-d') }}<br/>
    <strong>Address:</strong> {{ address1|raw }}<br/>
    <strong>Address:</strong> {{ address2|raw }}<br/>
    <strong>City:</strong> {{ city|raw }}<br/>
    <strong>State:</strong> {{ state|raw }}<br/>
    <strong>Postal Code:</strong> {{ postal_code|raw }}<br/>
    <strong>Telephone, Day:</strong> {{ phone_day|raw }}<br/>
    <strong>Telephone, Evening:</strong> {{ phone_night|raw }}<br/>
    <strong>Personal Email:</strong> {{ email|raw }}<br/>
    <strong>Gender:</strong> {{ gender|raw }}<br/>
    <strong>Marital Status:</strong> {{ marital_status|raw }}<br/>
    <strong>Dependents:</strong> {{ dependants|raw }}<br/>
    <strong>Country of Citizenship:</strong> {{ citizenship|raw }}<br/>
    <strong>Employment Status:</strong> {{ employment_status|raw }}<br/>
    <strong>Employer's Name:</strong> {{ employer_name|raw }}<br/>
    <strong>Employer's Address:</strong> {{ employer_address1|raw }}<br/>
    <strong>Employer's Address:</strong> {{ employer_address2|raw }}<br/>
    <strong>Years Employed:</strong> {{ years_employed|raw }}<br/>
    <strong>Current Position:</strong> {{ current_position|raw }}<br/>
    <strong>Business Phone:</strong> {{ phone_business|raw }}<br/>
    <strong>Business Email:</strong> {{ email_business|raw }}<br/>
    <strong>Level of Education:</strong> {{ education_level|raw }}<br/>
    <strong>Annual Income:</strong> {{ annual_income|raw }}<br/>
    <strong>Liquid Net Worth:</strong> {{ liquid_net_worth|raw }}<br/>
    <strong>Total Net Worth:</strong> {{ total_net_worth|raw }}<br/>
    <strong>Bank Name:</strong> {{ bank_name|raw }}<br/>
    <strong>Ever Declared Bankruptcy?</strong> {{ bankruptcy|raw }}<br/>
    <strong>If yes, when?</strong> {{ bankruptcy_info|raw }}<br/>
    <strong>Any pending litigations?:</strong> {{ litigation|raw }}<br/>
    <strong>If yes, when?</strong> {{ litigation_info|raw }}<br/>
    <strong>Power of Attorney?</strong> {{ power_of_attorney|raw }}<br/>
    <strong>Have you worked for a broker?</strong> {{ broker|raw }}<br/>
    <strong>Years of stock experience?</strong> {{ stock|raw }}<br/>
    <strong>Years of Forex experience?</strong> {{ forex|raw }}<br/>
    <strong>Years of commodities experience?</strong> {{ commodities|raw }}<br/>
    <strong>Years of bonds experience?</strong> {{ bonds|raw }}<br/>
    <strong>Years of experience with a financial institute?</strong> {{ financial|raw }}<br/>
    <strong>Any additional names to associate with your account?</strong> {{ additional_names|raw }}<br/>
    <strong>Government-issued Photo ID?</strong> {{ photo_id|raw }}<br/>
    <strong>Copy of Utility Bill, with address?</strong> {{ utility_bill|raw }}<br/>
    <strong>Do you agree to our Terms and Conditions of Use?</strong> {{ terms_agreement|raw }}<br/>
</p>