.clearfix
{
    zoom: 1;
}
.clearfix:before,
.clearfix:after
{
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after
{
    clear: both;
}
.hide-text
{
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}
.input-block-level
{
    box-sizing: border-box;
    display: block;
    min-height: 30px;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    width: 100%;
}
@-ms-viewport
{
    width: device-width;
}
.hidden
{
    display: none;
    visibility: hidden;
}
.visible-phone
{
    display: none!important;
}
.visible-tablet
{
    display: none!important;
}
.hidden-desktop
{
    display: none!important;
}
.visible-desktop
{
    display: inherit!important;
}
.visible-print
{
    display: none!important;
}
@media print
{
    .visible-print
    {
        display: inherit!important;
    }
    .hidden-print
    {
        display: none!important;
    }
}
 .row
    {
        margin-left: -30px;
        zoom: 1;
    }
    .row:before,.row:after
    {
        content: "";
        display: table;
        line-height: 0;
    }
    .row:after
    {
        clear: both;
    }
    [class*="span"]
    {
        float: left;
        margin-left: 30px;
        min-height: 1px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
    }
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
    {
        width: 1170px;
    }
    .span12
    {
        width: 1170px;
    }
    .span11
    {
        width: 1070px;
    }
    .span10
    {
        width: 970px;
    }
    .span9
    {
        width: 870px;
    }
    .span8
    {
        width: 770px;
    }
    .span7
    {
        width: 670px;
    }
    .span6
    {
        width: 570px;
    }
    .span5
    {
        width: 470px;
    }
    .span4
    {
        width: 370px;
    }
    .span3
    {
        width: 270px;
    }
    .span2
    {
        width: 170px;
    }
    .span1
    {
        width: 70px;
    }
    .offset12
    {
        margin-left: 1230px;
    }
    .offset11
    {
        margin-left: 1130px;
    }
    .offset10
    {
        margin-left: 1030px;
    }
    .offset9
    {
        margin-left: 930px;
    }
    .offset8
    {
        margin-left: 830px;
    }
    .offset7
    {
        margin-left: 730px;
    }
    .offset6
    {
        margin-left: 630px;
    }
    .offset5
    {
        margin-left: 530px;
    }
    .offset4
    {
        margin-left: 430px;
    }
    .offset3
    {
        margin-left: 330px;
    }
    .offset2
    {
        margin-left: 230px;
    }
    .offset1
    {
        margin-left: 130px;
    }
    .row-fluid
    {
        width: 100%;
        zoom: 1;
    }
    .row-fluid:before,.row-fluid:after
    {
        content: "";
        display: table;
        line-height: 0;
    }
    .row-fluid:after
    {
        clear: both;
    }
  .row-fluid [class*="span"]:first-child
    {
        margin-left: 0;
    }
.row-fluid .controls-row [class*="span"]+[class*="span"]
    {
        margin-left: 2.564102564102564%;
    }
.row-fluid .span12
    {
        width: 100%;
		margin:0;
    }
    .row-fluid .span11
    {
        width: 91.4365%;
    }
    .row-fluid .span10
    {
        width: 82.8729%;
    }
    .row-fluid .span9
    {
        width: 74.3094%;
    }
    .row-fluid .span8
    {
        width:65.7459%;
    }
    .row-fluid .span7
    {
        width: 57.1823%;
    }
    .row-fluid .span6
    {
        width:48.6188%;
    }
    .row-fluid .span5
    {
        width: 40.0552%;
    }
    .row-fluid .span4
    {
        width: 31.4917%;
    }
    .row-fluid .span3
    {
        width: 22.9282%;
    }
    .row-fluid .span2
    {
         width: 14.3646%;
    }
    .row-fluid .span1
    {
        width: 5.80111%;
    }
    .row-fluid .offset12
    {
        margin-left: 105.02182214948171%;
        margin-left: 105.12820512820512%;
    }
    .row-fluid .offset12:first-child
    {
        margin-left: 102.45771958537915%;
        margin-left: 102.56410256410257%;
    }
    .row-fluid .offset11
    {
        margin-left: 96.47481360247316%;
        margin-left: 96.58119658119658%;
    }
    .row-fluid .offset11:first-child
    {
        margin-left: 93.91071103837061%;
        margin-left: 94.01709401709402%;
    }
    .row-fluid .offset10
    {
        margin-left: 87.92780505546462%;
        margin-left: 88.03418803418803%;
    }
    .row-fluid .offset10:first-child
    {
        margin-left: 85.36370249136206%;
        margin-left: 85.47008547008548%;
    }
    .row-fluid .offset9
    {
        margin-left: 79.38079650845607%;
        margin-left: 79.48717948717949%;
    }
    .row-fluid .offset9:first-child
    {
        margin-left: 76.81669394435352%;
        margin-left: 76.92307692307693%;
    }
    .row-fluid .offset8
    {
        margin-left: 70.83378796144753%;
        margin-left: 70.94017094017094%;
    }
    .row-fluid .offset8:first-child
    {
        margin-left: 68.26968539734497%;
        margin-left: 68.37606837606839%;
    }
    .row-fluid .offset7
    {
        margin-left: 62.28677941443899%;
        margin-left: 62.393162393162385%;
    }
    .row-fluid .offset7:first-child
    {
        margin-left: 59.72267685033642%;
        margin-left: 59.82905982905982%;
    }
    .row-fluid .offset6
    {
        margin-left: 53.739770867430444%;
        margin-left: 53.84615384615384%;
    }
    .row-fluid .offset6:first-child
    {
        margin-left: 51.175668303327875%;
        margin-left: 51.28205128205128%;
    }
    .row-fluid .offset5
    {
        margin-left: 45.1927623204219%;
        margin-left: 45.299145299145295%;
    }
    .row-fluid .offset5:first-child
    {
        margin-left: 42.62865975631933%;
        margin-left: 42.73504273504273%;
    }
    .row-fluid .offset4
    {
        margin-left: 36.645753773413354%;
        margin-left: 36.75213675213675%;
    }
    .row-fluid .offset4:first-child
    {
        margin-left: 34.081651209310785%;
        margin-left: 34.18803418803419%;
    }
    .row-fluid .offset3
    {
        margin-left: 28.0987452264048%;
        margin-left: 28.205128205128204%;
    }
    .row-fluid .offset3:first-child
    {
        margin-left: 25.53464266230224%;
        margin-left: 25.641025641025642%;
    }
    .row-fluid .offset2
    {
        margin-left: 19.551736679396257%;
        margin-left: 19.65811965811966%;
    }
    .row-fluid .offset2:first-child
    {
        margin-left: 16.98763411529369%;
        margin-left: 17.094017094017094%;
    }
    .row-fluid .offset1
    {
        margin-left: 11.004728132387708%;
        margin-left: 11.11111111111111%;
    }
    .row-fluid .offset1:first-child
    {
        margin-left: 8.440625568285142%;
        margin-left: 8.547008547008547%;
    }
    input,textarea,.uneditable-input
    {
        margin-left: 0;
    }
    .controls-row [class*="span"]+[class*="span"]
    {
        margin-left: 30px;
    }
    input.span12,textarea.span12,.uneditable-input.span12
    {
        width: 1156px;
    }
    input.span11,textarea.span11,.uneditable-input.span11
    {
        width: 1056px;
    }
    input.span10,textarea.span10,.uneditable-input.span10
    {
        width: 956px;
    }
    input.span9,textarea.span9,.uneditable-input.span9
    {
        width: 856px;
    }
    input.span8,textarea.span8,.uneditable-input.span8
    {
        width: 756px;
    }
    input.span7,textarea.span7,.uneditable-input.span7
    {
        width: 656px;
    }
    input.span6,textarea.span6,.uneditable-input.span6
    {
        width: 556px;
    }
    input.span5,textarea.span5,.uneditable-input.span5
    {
        width: 456px;
    }
    input.span4,textarea.span4,.uneditable-input.span4
    {
        width: 356px;
    }
    input.span3,textarea.span3,.uneditable-input.span3
    {
        width: 256px;
    }
    input.span2,textarea.span2,.uneditable-input.span2
    {
        width: 156px;
    }
    input.span1,textarea.span1,.uneditable-input.span1
    {
        width: 56px;
    }
    .thumbnails
    {
        margin-left: -30px;
    }
    .thumbnails>li
    {
        margin-left: 30px;
    }
    .row-fluid .thumbnails
    {
        margin-left: 0;
    }
@media(min-width:980px)
{
    .nav-collapse.collapse
    {
        height: auto!important;
        overflow: visible!important;
    }
}
.no-responsive #page-body-wraps ,.no-responsive #ww_stick_header .row-fluid .ww-stick-header-wrapper,
.no-responsive  #ww_footer {
    min-width: 1200px;
}
.no-responsive img {
    max-width: 100%;
    height: auto;
}