/*----------------------------------------------------------------------
# Package - Probusiess
# ----------------------------------------------------------------------
# Author - Cmssuperhero http://www.Cmssuperhero.com
# Copyright Copyright under commercial licence (C) 2012 - 2014 Cmssuperhero
# License http://www.gnu.org/licenses/gpl-3.0.html GNU/GPLv3
-----------------------------------------------------------------------*/
body {
  background-color: #ffffff;
  color: #888888;
}
.text-editor {
  color: #6BB3E1;
}
a:not(.btn),
.star {
  color: #177E3E;
}
a:not(.btn):hover,
.star:hover {
  color: rgba(11,147,61,0.8);
}
.list li:before,
.standard-arrow  ul li:before {
  color: #177E3E;
}
h1,
h2,
h3,
h4,
h5,
.ww-recent-work-category {
  color: #1B242D;
}
h1 a:not(.btn),
h2 a:not(.btn),
h3 a:not(.btn),
h4 a:not(.btn),
h5 a:not(.btn),
.ww-recent-work-category a:not(.btn) {
  color: #1B242D;
}
header .ww-menu ul.sf-menu > li.current_page_item > a,
header .ww-menu ul.sf-menu > li.current-menu-ancestor > a,
header .ww-menu ul.sf-menu > li:hover > a {
  -webkit-box-shadow: 0px -3px 0px #177E3E inset;
  -moz-box-shadow: 0px -3px 0px #177E3E inset;
  -ms-box-shadow: 0px -3px 0px #177E3E inset;
  -o-box-shadow: 0px -3px 0px #177E3E inset;
  box-shadow: 0px -3px 0px #177E3E inset;
}
header ul.level-0 > li.current_page_item:after,
header ul.level-0 > li.current-menu-ancestor:after,
header ul.level-0 > li:hover:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 3px;
  left: 45%;
  border: 4px solid transparent;
  border-bottom: 5px solid #177E3E;
}
header ul.level-0 > li.current_page_item .fa-caret-down,
header ul.level-0 > li.current-menu-ancestor .fa-caret-down,
header ul.level-0 > li:hover .fa-caret-down {
  color: #177E3E;
}
header ul.level-0 > li > a .fa-caret-down {
  color: #177E3E;
}
header ul.level-0 > li ul.sub-menu {
  border-top: 4px solid #177E3E;
}
header ul.level-0 .noo-nav.level0 > li.mega.current_page_item > a,
header ul.level-0 .noo-nav.level0 > li.mega:hover > a {
  position: relative;
  -webkit-box-shadow: 0px -3px 0px #177E3E inset;
  -moz-box-shadow: 0px -3px 0px #177E3E inset;
  -ms-box-shadow: 0px -3px 0px #177E3E inset;
  -o-box-shadow: 0px -3px 0px #177E3E inset;
  box-shadow: 0px -3px 0px #177E3E inset;
}
header ul.level-0 .noo-nav.level0 > li.mega.current_page_item > a:after,
header ul.level-0 .noo-nav.level0 > li.mega:hover > a:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 3px;
  left: 45%;
  border: 4px solid transparent;
  border-bottom: 5px solid #177E3E;
}
header ul.level-0 .noo-nav.level0 > li.mega.current_page_item > div.dropdown-menu.mega-dropdown-menu,
header ul.level-0 .noo-nav.level0 > li.mega:hover > div.dropdown-menu.mega-dropdown-menu {
  margin-top: -3px !important;
}
header ul.level-0 .noo-nav.level0 > li.mega .dropdown-menu {
  border-top: 4px solid #177E3E;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  -o-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
header ul.level-0 .noo-nav.level0 li.mega.mega-align-justify > div.dropdown-menu.mega-dropdown-menu > .mega-dropdown-inner {
  border-top: 4px solid #177E3E;
}
header#ww_header .ww-submenu-mobile .noo-megamenu ul.level0 li a:hover {
  color: #177E3E;
}
.text-main-color,
.jm-social li a:hover i,
.jm-choose-us li:before {
  color: #177E3E;
}
div#loading span {
  border-color: #177E3E;
}
#pagination a,
.flex-gallery .flex-direction-nav li a,
ul.menu .fa-home,
.ww-read-more-button a,
.ww-pagination ul li a:hover,
.caroufredsel_wrapper  a.mcprev,
.caroufredsel_wrapper  a.mcnext,
.bg-main-color,
.line-portfolio-nav {
  background: #177E3E;
  color: #fff;
}
#pagination a:hover,
.flex-gallery .flex-direction-nav li a:hover,
.ww-read-more-button a:hover {
  background: #0B933D;
  color: #fff;
}
input[type="submit"],
input[type="reset"],
.button {
  background: #177E3E;
  color: #fff;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover {
  background: #0B933D;
}
.bg-color  a.btn-buy {
  background: #0B933D;
}
.bg-color  a.btn-buy:hover {
  background: rgba(11,147,61,0.5);
}
.ww-button a {
  color: #fff;
  background: #177E3E;
}
.ww-button a:hover {
  background: #0B933D;
  color: #fff;
}
.fa-hover a:hover:not(.btn) {
  background: #177E3E;
  color: #fff;
}
.btn-default {
  background: #177E3E;
  border-bottom: 3px solid #0B933D !important;
}
.btn-default:hover {
  background: #0B933D !important;
}
.btn-primary {
  background: rgba(11,147,61,0.5);
  border: 2px solid #177E3E !important;
  color: #177E3E;
}
.btn-primary:hover {
  background: rgba(11,147,61,0.6) !important;
  color: #177E3E;
}
.dropcap-boxed,
.vc_progress_bar .vc_single_bar .vc_bar {
  background: #177E3E;
  color: #fff;
}
.dropcap,
.ww-portfolio .fullurl:hover {
  color: #177E3E;
}
.sf-button,
.ww-button {
  background: #177E3E;
  color: #fff;
}
.sf-button:hover,
.ww-button:hover {
  background: #0B933D;
}
.ww-button.blue.sf-button {
  background-color: #154680;
}
.ww-button.blue.sf-button:hover {
  background-color: #0C51A0;
}
.sf-button.small {
  padding: 2px 12px;
}
#ascrail2000 > div {
  background-color: #177E3E !important;
}
#ww_header {
  box-shadow: 0 1px #f7f7f7;
}
#ww_header [class*="ww-header-wrapper"] {
  background-color: #ffffff;
  color: #171717;
}
#ww_header [class*="ww-header-wrapper"] a {
  color: #171717;
}
#ww_header [class*="ww-header-wrapper"] a:hover {
  color: #177E3E;
}
#ww_stick_header .ww-stick-header-wrapper {
  background-color: #ffffff;
  color: #0a0909;
}
#ww_stick_header .ww-stick-header-wrapper a {
  color: #0a0909;
}
#ww_stick_header .ww-stick-header-wrapper a:hover {
  color: #177E3E;
}
#ww_stick_header .ww-stick-header-wrapper .noo-nav.level0 > li,
#ww_stick_header .ww-stick-header-wrapper ul.level-0 > li {
  border-color: #f7f7f7;
}
#ww_stick_header .ww-stick-header-wrapper .noo-nav.level0 > li > a,
#ww_stick_header .ww-stick-header-wrapper ul.level-0 > li > a {
  color: #0a0909;
}
#ww_stick_header .ww-stick-header-wrapper .noo-nav.level0 > li > a:hover,
#ww_stick_header .ww-stick-header-wrapper ul.level-0 > li > a:hover {
  color: #177E3E;
}
#ww_main_body {
  background: #ffffff;
}
#ww_main_body div.welcome {
  border-left: 5px solid #177E3E;
  background: #f5f5f5;
}
#ww_main_body div.welcome:before {
  color: #177E3E;
}
#ww_main_body div.welcome h2 {
  color: #000;
}
#ww_main_body .vc_pie_wrapper .vc_pie_chart_back {
  border-color: rgba(55,58,65,0.2) !important;
}
#ww_main_body .vc_progress_bar .vc_single_bar.bar_preset .vc_bar {
  background-color: #177E3E;
}
#ww_main_content .ww-widget.widget_categories ul li:hover,
#ww_main_content .ww-widget.widget_product_categories ul li:hover,
#ww_main_content .ww-widget.widget_archive ul li:hover,
#ww_main_content .ww-widget.widget_pages ul li:hover {
  color: #177E3E;
}
#ww_main_content .ww-widget.widget_categories ul li:hover > a,
#ww_main_content .ww-widget.widget_product_categories ul li:hover > a,
#ww_main_content .ww-widget.widget_archive ul li:hover > a,
#ww_main_content .ww-widget.widget_pages ul li:hover > a {
  color: #177E3E;
}
#ww_main_content .ww-widget.widget_tag_cloud .tagcloud a:hover {
  background-color: #177E3E;
}
#ww_main_content .ww-widget.widget_tag_cloud .tagcloud a:hover:before {
  border-color: rgba(0,0,0,0) #177E3E rgba(0,0,0,0) rgba(0,0,0,0);
}
#ww_main_content .widget .ww-social li a:hover {
  color: #177E3E;
}
#ww_main_content .widget.widget_nav_menu ul.menu li a:hover {
  color: #177E3E;
}
#ww_main_content > .row-fluid > div > .wpb_row {
  background: #ffffff;
}
body:not(.page) #ww_main_header .ww-title h3 {
  background-color: #177E3E;
}
.ww-read-more a {
  color: #5b5b5b;
}
.ww-read-more a i {
  color: #177E3E;
}
.ww-read-more a:hover {
  color: #177E3E;
}
.ww-read-more a:hover i {
  color: #5b5b5b;
}
.ww-fancy-box.fancy-box-style-1 .ww-fancy-box-title i {
  color: #177E3E;
}
.ww-fancy-box.fancy-box-style-2 .ww-fancy-box-title i,
.ww-fancy-box.fancy-box-style-3 .ww-fancy-box-title i,
.ww-fancy-box.fancy-box-style-4 .ww-fancy-box-title i,
.ww-fancy-box.fancy-box-style-6 .ww-fancy-box-title i {
  background: #177E3E;
  color: #fff;
}
.ww-fancy-box.fancy-box-style-5 .ww-fancy-box-title i {
  background: #eee;
  color: #177E3E;
}
.ww-fancy-box.fancy-box-style-7 .ww-fancy-box-image .ww-fancy-box-icon {
  border-color: #177E3E rgba(0,0,0,0) rgba(0,0,0,0) #177E3E;
}
.ww-fancy-box.fancy-box-style-8 .ww-fancy-box-title i {
  box-shadow: 0 0 0 4px #177E3E;
  color: #177E3E;
}
.ww-fancy-box.fancy-box-style-8 .ww-fancy-box-title i:hover {
  -webkit-box-shadow: 0 0 0 4px rgba(11,147,61,0.9);
  -moz-box-shadow: 0 0 0 4px rgba(11,147,61,0.9);
  -ms-box-shadow: 0 0 0 4px rgba(11,147,61,0.9);
  -o-box-shadow: 0 0 0 4px rgba(11,147,61,0.9);
  box-shadow: 0 0 0 4px rgba(11,147,61,0.9);
  color: rgba(11,147,61,0.9);
}
.ww-fancy-box.fancy-box-style-4 .ww-fancy-box-icon i {
  background-color: #177E3E;
}
.ww-fancy-box.fancy-box-style-9 .ww-fancy-box-title i {
  background-color: #177E3E;
}
.ww-carousel-portfolio .ww-carousel-portfolio-pagination ul li a:hover {
  background: #177E3E;
}
.ww-carousel-portfolio .ww-carousel-item:hover .ww-carousel-portfolio-info {
  background: rgba(11,147,61,0.5);
}
.ww-carousel-portfolio.layout1 .ww-carousel-list .ww-carousel-item:hover {
  border-bottom: 1px solid #177E3E;
}
.ww-carousel-portfolio.layout2 .ww-carousel-portfolio-content .ww-carousel-portfolio-content-inner {
  background: rgba(11,147,61,0.9);
}
.ww-carousel-portfolio.layout2 .ww-carousel-portfolio-content .ww-carousel-portfolio-content-inner .ww-carousel-portfolio-button a {
  color: #177E3E;
}
.ww-carousel-portfolio.layout2 .ww-carousel-portfolio-content .ww-carousel-portfolio-content-inner .ww-carousel-portfolio-button a:hover {
  color: rgba(11,147,61,0.9);
}
.ww-carousel-portfolio.style5 .ww-header:after {
  background: #177E3E;
}
.ww-carousel-portfolio.style5.show-header .ww-nav ul li a:hover {
  background: rgba(11,147,61,0.9);
}
.ww-carousel-portfolio.style5 .ww-carousel-item:hover {
  border-bottom-color: #177E3E;
}
.ww-carousel-post .ww-carousel-post-nav .ww-pagination ul li a:hover {
  background: #177E3E;
}
.ww-team .ww-team-pagination ul li a:hover {
  background: #177E3E;
}
.ww-team .ww-team-header:hover {
  border-bottom: 1px solid #177E3E;
}
.ww-team .ww-team-header:hover .ww-team-info {
  background: rgba(11,147,61,0.5);
}
.ww-portfolio .ww-portfolio-item .ww-portfolio-header:hover .ww-portfolio-info {
  background: rgba(11,147,61,0.5);
}
.ww-portfolio.ww-portfolio-style-2 .ww-portfolio-item .ww-portfolio-content .ww-portfolio-content-inner {
  background: rgba(11,147,61,0.9);
}
.ww-portfolio.ww-portfolio-style-2 .ww-portfolio-item .ww-portfolio-content .ww-portfolio-content-inner .ww-portfolio-button a {
  background: #FFFFFF;
  color: #177E3E;
}
.ww-portfolio.ww-portfolio-style-2 .ww-portfolio-item .ww-portfolio-content .ww-portfolio-content-inner .ww-portfolio-button a:hover {
  background: #0A4720;
  color: #FFFFFF;
}
.ww-portfolio.ww-portfolio-detail .ww-portfolio-item .ww-portfolio-content .portfolio-share li:hover {
  color: #177E3E;
}
#ww_portfolio_filters li.active,
#ww_team_filters li.active {
  border: 1px solid #177E3E;
}
#ww_portfolio_filters li.active a,
#ww_team_filters li.active a {
  color: #177E3E;
}
#ww_portfolio_filters li:hover,
#ww_team_filters li:hover {
  border: 1px solid #177E3E;
}
#ww_portfolio_filters li:hover a,
#ww_team_filters li:hover a {
  color: #177E3E;
}
.ww-recent-work .ww-recent-work-pagination ul li a:hover {
  background: #177E3E;
}
.ww-recent-work .ww-recent-work-header:hover {
  border-bottom: 1px solid #177E3E;
}
.ww-recent-work .ww-recent-work-header:hover .ww-recent-work-info {
  background: rgba(11,147,61,0.5);
}
.ww-carousel-team .ww-carousel-list .ww-carousel-item .ww-carousel-team-info {
  -webkit-box-shadow: 0 0 0 -1px rgba(11,147,61,0.8) inset;
  -moz-box-shadow: 0 0 0 -1px rgba(11,147,61,0.8) inset;
  -ms-box-shadow: 0 0 0 -1px rgba(11,147,61,0.8) inset;
  -o-box-shadow: 0 0 0 -1px rgba(11,147,61,0.8) inset;
  box-shadow: 0 0 0 -1px rgba(11,147,61,0.8) inset;
}
.ww-carousel-team .ww-carousel-list .ww-carousel-item .ww-carousel-team-info:hover {
  -webkit-box-shadow: inset 0 0 0 510px rgba(11,147,61,0.8);
  -moz-box-shadow: inset 0 0 0 510px rgba(11,147,61,0.8);
  -ms-box-shadow: inset 0 0 0 510px rgba(11,147,61,0.8);
  -o-box-shadow: inset 0 0 0 510px rgba(11,147,61,0.8);
  box-shadow: inset 0 0 0 510px rgba(11,147,61,0.8);
}
.ww-carousel-testimonial .ww-pag ul li a.active:before,
.ww-carousel-testimonial .ww-pag ul li a:hover:before {
  color: #177E3E;
}
.ww-carousel-testimonial.style4 .ww-carousel-list .ww-carousel-item .ww-carousel-testimonial-description {
  background: #177E3E;
  color: #fff;
}
.ww-carousel-testimonial.style4 .ww-carousel-list .ww-carousel-item .ww-carousel-testimonial-description:after {
  border-top-color: #177E3E;
}
.ww-testimonial.style4 .ww-testimonial-item .ww-testimonial-description {
  background: #177E3E;
  color: #fff;
}
.ww-testimonial.style4 .ww-testimonial-item .ww-testimonial-description:after {
  border-top-color: #177E3E;
}
.ww-carousel .ww-nav ul li a {
  background: #177E3E;
}
.ww-carousel .ww-nav ul li a:hover {
  background: rgba(11,147,61,0.8);
}
.ww-nav-pagination a:hover {
  background: #177E3E;
  color: #fff;
}
#ww_team .ww-team-item:hover {
  border-bottom: 1px solid #177E3E;
}
.wpb_content_element.ww-tabs-preset .wpb_tour_tabs_wrapper .wpb_tabs_nav a:hover,
.wpb_content_element.ww-tabs-preset .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a {
  background: #177E3E;
  color: #fff;
}
.wpb_content_element.ww-tabs-preset .wpb_tour_tabs_wrapper .wpb_tabs_nav a:hover i,
.wpb_content_element.ww-tabs-preset .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a i {
  color: #fff;
}
.ww-carousel-product .ww-carousel-product-pagination ul li a:hover,
.ww-carousel-product .ww-carousel-product-nav .ww-line-product-nav {
  background: #177E3E;
}
.ww-carousel-product div.ww_carousel_product-item:hover {
  border-bottom: 1px solid #177E3E;
}
.ww-carousel-product .shopcart-detail table.shop_table .cart_table_item .product-quantity input.minus:hover,
.ww-carousel-product .shopcart-detail table.shop_table .cart_table_item .product-quantity input.plus:hover {
  background: #177E3E;
  color: #fff;
}
.price_slider_wrapper .ui-slider div.ui-slider-range {
  background-color: #177E3E;
}
.ww-widget a,
.post-content h2.entry-title a,
#footer a:hover,
ul.menu li.current-menu-item > a,
ul.menu li a:hover,
.the-post-content a,
.read-more a:hover,
#commentform a,
.ww-accordion a,
.ww-tabs-left a,
.ww-tabs-right a,
.ww-choose-us li:before,
.ww-header-page-blog .ww-breadcrumds a:hover,
#ww_main_header .ww-breadcrumds a:hover,
.ui-accordion-header a,
.ww-category-team a,
.ww-social-team .soc-ico a,
.ww-team-social .soc-ico a,
.ww-category-testimonial a,
#ww_main_header .ww-category {
  color: #177E3E;
}
.ww-social-team .soc-ico a,
.ww-team-social .soc-ico a {
  border: 1px solid #177E3E;
}
.ww-social-team .soc-ico a:hover,
.ww-team-social .soc-ico a:hover {
  border: 1px solid #0B933D;
}
.widget ul li a:hover,
.ww-widget a:hover,
.ww-category-team a:hover,
.ww-social-team .soc-ico a:hover {
  color: #0B933D;
}
.ww-border-radius-title-preset > .vc_style .wpb_wrapper > h3:first-child,
.ww-border-radius-title-preset > .vc_style .wpb_wrapper > h2:first-child,
.ww-border-radius-title-preset > .vc_style .wpb_wrapper > h1:first-child,
.ww-border-radius-title-preset > .vc_style .wpb_wrapper > h4:first-child,
.ww-border-radius-title-preset > .vc_style .wpb_wrapper > h5:first-child,
.ww-border-radius-title-preset > .vc_style .wpb_wrapper > h6:first-child {
  background: #177E3E;
  color: #fff;
}
.ww-border-radius-preset > .vc_style {
  border: 1px solid #177E3E;
  box-shadow: 2px 2px 0 #177E3E;
}
.wpb_accordion .wpb_accordion_section .wpb_accordion_header a:hover {
  color: #177E3E;
}
.wpb_accordion.ww-preset-head-icon .wpb_accordion_section .wpb_accordion_header {
  background: #177E3E;
}
.wpb_accordion.ww-preset-head-icon .wpb_accordion_section .wpb_accordion_header a,
.wpb_accordion.ww-preset-head-icon .wpb_accordion_section .wpb_accordion_header icon {
  color: #fff;
}
.ww-box-preset .ww-header h3 {
  background-color: #177E3E;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #177E3E;
}
.ww-pricing.ww-pricing-table .ww-pricing-container h3.ww-pricing-title {
  background-color: #177E3E;
}
.ww-pricing.ww-plan .ww-pricing-feature .ww-pricing-container h3.ww-pricing-title {
  background-color: #177E3E;
}
.ww-pricing.ww-plan .ww-pricing-feature .ww-pricing-button {
  background-color: #177E3E;
}
.ww-pricing.ww-highlight .ww-pricing-container .ww-pricing-button {
  background-color: #177E3E;
}
.ww-pricing.ww-highlight .ww-pricing-feature .ww-pricing-container h3.ww-pricing-title {
  background-color: #177E3E;
}
.bg-title .wpb_heading {
  background-color: #177E3E;
}
.bg-color {
  background: #177E3E !important;
  color: #fff;
}
.bg-color h1,
.bg-color h2,
.bg-color h3,
.bg-color h4,
.bg-color h5,
.bg-color h6 {
  color: #fff;
}
.radio input[type="radio"] + span:after,
.radio input[type="radio"] + label:after {
  background-color: #177E3E;
  background: -moz-linear-gradient(center top,#177E3E 0%,#177E3E 100%) repeat scroll 0 0 rgba(0,0,0,0);
}
.checkbox input[type="checkbox"] + span:after,
.checkbox input[type="checkbox"] + label:after {
  border-color: #177E3E;
}
.ww-contactform .Selectoptions:after {
  color: #177E3E;
}
.ww-carousel-client .ww-nav ul li a,
.gallery .ww-nav ul li a {
  background-color: #177E3E;
}
.ww-carousel-client .ww-nav ul li a:hover,
.gallery .ww-nav ul li a:hover {
  background: #0B933D;
}
.single-team #ww_main_header .ww-title h3,
.single-portfolio #ww_main_header .ww-title h3,
.single-post #ww_main_header .ww-title h3 {
  background-color: #177E3E;
  color: #fff;
}
#ww_main_header .ww-title.show-desc h3,
#ww_main_header .ww-post-navigation ul li a {
  background-color: #177E3E;
}
.ww-menu-wrap:not(.horizontal) .ww-content .ww-menu-vertical ul.ww-menu li:hover > a {
  background: #F5F5F5;
  color: #1B242D;
}
.ww-menu-wrap:not(.horizontal) .ww-content .ww-menu-vertical ul.ww-menu li.current_page_item > a {
  background-color: #177E3E;
  color: #fff;
}
.ww-menu-wrap:not(.horizontal) .ww-content .ww-menu-vertical ul.ww-menu li.current_page_item:hover > a {
  background-color: #177E3E;
  color: #fff;
}
.ww-menu-wrap:not(.horizontal).ww-menu-style2 .ww-header .ww-title {
  background-color: #177E3E;
}
.ww-menu-wrap:not(.horizontal).ww-menu-style5 .ww-content .ww-menu-vertical ul.ww-menu > li:hover > a,
.ww-menu-wrap:not(.horizontal).ww-menu-style5 .ww-content .ww-menu-accordion ul.menu > li:hover > a,
.ww-menu-wrap:not(.horizontal).ww-menu-style5 .ww-content .ww-menu-vertical ul.ww-menu > li ul.sub-menu li:hover > a,
.ww-menu-wrap:not(.horizontal).ww-menu-style5 .ww-content .ww-menu-accordion ul.menu > li ul.sub-menu li:hover > a,
.ww-menu-wrap:not(.horizontal).ww-menu-style5 .ww-content .ww-menu-accordion ul.menu > li > a.active,
.ww-menu-wrap:not(.horizontal).ww-menu-style5 .ww-content .ww-menu-accordion ul.menu li ul.sub-menu li > a.active {
  color: #177E3E;
}
.ww-menu-wrap:not(.horizontal) .ww-menu-accordion > ul.menu > li:hover > a,
.ww-menu-wrap:not(.horizontal) .ww-menu-accordion > ul.menu > li > a.active {
  background-color: #177E3E;
  color: #fff;
}
.ww-menu-wrap:not(.horizontal) .ww-menu-accordion > ul.menu > li ul.sub-menu > li > a:hover,
.ww-menu-wrap:not(.horizontal) .ww-menu-accordion > ul.menu > li ul.sub-menu > li > a.active {
  background: rgba(11,147,61,0.5);
  border-left-color: #177E3E;
}
#ww_post .ww-entry-header .entry-title a {
  color: #177E3E;
}
#ww_post .ww-post-item .ww-post-content .ww-entry-media .ww-entry-cover {
  background-color: rgba(11,147,61,0.5);
}
#ww_post .ww-post-item .ww-post-content .ww-entry-media .ww-entry-cover .ww-controls a {
  color: #177E3E;
}
#ww_post .ww-post-item .ww-post-content .ww-entry-media .ww-entry-cover .ww-controls a:hover {
  background-color: #177E3E;
  color: #FFFFFF;
}
.ww-recent-post .ww-recent-post-container .ww-entry-media .ww-colorbox-video:hover {
  background-color: rgba(11,147,61,0.5);
}
.audio .mejs-container  .mejs-controls .mejs-time-rail .mejs-time-current {
  background-color: #177E3E;
}
.audio .mejs-container  .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #177E3E;
}
.ww-slideshow-wrap .ww-slideshow .ww-sledeshow-item .ww-slideshow-caption {
  background-color: #177E3E;
}
.ww-slideshow-wrap .ww-slider-pag-dots ul li.flex-active-slide a,
.ww-slideshow-wrap .ww-slider-pag-dots ul li:hover a {
  background-color: #177E3E;
}
.ww-shortcode-news-tab ul.tabs li.active,
.ww-shortcode-news-tab ul.tabs li:hover {
  border-bottom-color: #177E3E;
}
.ww-category-post-wrap .ww-content .ww-item-first .ww-title-first .entry-title {
  border-left-color: #177E3E;
}
.ww-latest-twitter.vertical .bx-controls a {
  background-color: #177E3E;
}
.ww-latest-twitter.vertical .bx-controls a:hover {
  background: #0B933D;
}
.comment-body .reply a {
  background-color: #177E3E;
  color: #fff;
}
.comment-body .reply a:hover {
  background: #0B933D;
}
[class*="ww-bottom-wrapper"] {
  background-color: #f5f5f5;
  color: #1B242D;
}
[class*="ww-footertop-wrapper"] {
  background-color: #1B242D;
  color: #dedede;
}
[class*="ww-footer-wrapper"] {
  background-color: #000000;
  color: #ffffff;
}
#page-wrap header .dropdown .caret {
  border-top-color: #177E3E;
}
