@font-face{font-family:'OpenSansLight';src:url('/bundles/site/font/opensans-light-webfont.eot');src:url('/bundles/site/font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
url('/bundles/site/font/opensans-light-webfont.woff') format('woff'),
url('/bundles/site/font/opensans-light-webfont.ttf') format('truetype'),
url('/bundles/site/font/opensans-light-webfont.svg#OpenSansLight') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'OpenSansRegular';src:url('/bundles/site/font/opensans-regular-webfont.eot');src:url('/bundles/site/font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('/bundles/site/font/opensans-regular-webfont.woff') format('woff'),
url('/bundles/site/font/opensans-regular-webfont.ttf') format('truetype'),
url('/bundles/site/font/opensans-regular-webfont.svg#OpenSansRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'OpenSansBold';src:url('/bundles/site/font/opensans-bold-webfont.eot');src:url('/bundles/site/font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('/bundles/site/font/opensans-bold-webfont.woff') format('woff'),
url('/bundles/site/font/opensans-bold-webfont.ttf') format('truetype'),
url('/bundles/site/font/opensans-bold-webfont.svg#OpenSansBold') format('svg');font-weight:normal;font-style:normal;}


.isotope-item{z-index:2;}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1;}
.isotope,
.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s;transition:opacity 1000ms ease 300ms;}
.isotope{-webkit-transition-property:-webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;-ms-transition-property:-ms-transform, opacity;-o-transition-property:-o-transform, opacity;transition-property:transform, opacity;}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;-ms-transition-property:-ms-transform, opacity;-o-transition-property:-o-transform, opacity;transition-property:transform, opacity;}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;}
.slide-item.jmhidden{transform:scale(0);}
.slide-item{transition:all 0.8s ease 0s;}
#jm-header-wrapper, .jm-header-wrapper{transition:none;}
.flex-gallery{margin:0;padding:0;min-height:100px;}
.flex-gallery .slides > li{display:none;-webkit-backface-visibility:hidden;}
.flex-gallery .slides img{width:99.8%;display:block;}
.flexslider .slides:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}
.flexslider .slides{display:block;}
.flexslider .slides{overflow:hidden;}
.flexslider .slides img{display:block;max-width:100%;width:100%;}
.boxed .jm-container{max-width:1100px;margin:0 auto;}
img.boxed_mode{padding-left:20px!important;padding-right:20px!important;}

.isotope{transition-property:transform, opacity;}
.isotope, .isotope .isotope-item{transition-duration:0.8s;}
.ww-single-bar{border:1px solid #CFD4D8;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin-bottom:20px;}
.ww-style1 .ww-single-bar .ww-bar{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;display:block;height:30px;}
.ww-style2 .ww-single-bar .ww-bar{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;display:block;height:15px;}
.ww-single-bar .ww-striped{background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)) !important;background-size:40px 40px !important;}
.ww-style1 .ww-single-bar .ww-label{color:#FFFFFF;display:block;padding-left:10px;width:100%;}
.ww-style1 .ww-single-bar .ww-label .ww-label-title{display:block;float:left;width:70%;}
.ww-style1 .ww-single-bar .ww-label .ww-label-units{color:#000000;display:block;float:right;padding-right:18px;text-align:right;width:25%;}
.ww-style2 .ww-label{color:#FFFFFF;display:block;margin-bottom:20px;padding-left:10px;padding-top:1px;color:black;}
.ww-style2 .ww-label .ww-label-title{width:855px;float:left;width:70%;}
.ww-style2 .ww-label .ww-label-units{float:right;padding-right:10px;text-align:right;width:25%;}
.ww-pie-chart .ww-pie-chart-icon, .ww-pie-chart-label, .ww-pie-chart-value{display:block;font-size:200%;height:100%;left:0;line-height:20.8px;position:absolute;text-align:center;top:42%;width:100%;}
.ww-pie-chart.ww-style2 .ww-pie-chart-title{display:block;font-size:100%;left:0;line-height:20px;position:absolute;text-align:center;top:20%;width:100%;}
.ww-pie-chart-title .ww-title{width:76%;margin:0 auto;}
.page-title{margin-left:-1000px;overflow:hidden;padding:0px 1000px;width:100%;}
embed, iframe, object, video{max-width:100%;	border:none;}
#sidebar .flickr-photo a{background:none;float:left;border:0;}
.es-carousel-wrapper{background:none;padding:0px 22px;position:relative;}
.es-carousel{overflow:hidden;}
.es-carousel ul{display:none;list-style:none;margin:0;padding:0;}
.es-carousel ul li{height:100%;float:left;display:block;margin:0;padding:0;}
.es-carousel ul li a{display:block;}
.es-carousel ul li a img{border:none;}
.es-nav-prev, .es-nav-next{background-color:#999999;}
.es-nav-next{background-image:url("/avada/wp-content/themes/Avada/images/arrow-bullet.png");background-position:center center;right:0;}
.es-nav-prev, .es-nav-next{display:block;}
.es-nav-prev, .es-nav-next{background-color:rgba(0, 0, 0, 0.5);background-repeat:no-repeat;height:29px;margin-top:-14px;opacity:0.8;position:absolute;text-indent:-10000px;top:50%;width:29px;z-index:1000;}
.es-carousel-wrapper{background:none repeat scroll 0 0 rgba(0, 0, 0, 0);padding:0;position:relative;}
.es-carousel ul{list-style:none outside none;margin:0;padding:0;}
.es-carousel ul li{display:block;float:left;height:100%;padding:0;}
.image-show{display:none;}
.active{display:block;}
.ww-galery-container{width:100%;}
.ww-galery-container .ww-item-wrap{float:left;}
.ww-galery-container .ww-item-wrap .ww-item{padding:1px}
.ww-galery-container .ww-item-wrap .ww-item a img{width:100%}
.ww-galery-container{}
.ww-image-preview{padding:10px;border:1px solid #eee;}
.ww-image-preview img{width:100%;height:100%;}
.ww-gallery-nav{width:100%;border:1px solid #eee;}
.ww-gallery-nav .ww-item-wrap{float:left;}
.ww-gallery-nav .ww-item{border:1px solid #eee;}
.ww-item.ww-select-hover:hover, .ww-item.ww-select-hover:hover{opacity:0.4 !important;filter:alpha(opacity=40) !important;}
.ww-wrap-tabs-side{border:1px solid #eee;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.ww-tabs-side-nav{width:30%;float:left;}
.ww-tabs-side-nav .wpb_tabs_nav li{float:none !important;margin:0 !important;}
.ww-tabs-side-content{width:70%;float:right;}
.ww-tabs-side-content .wpb_tab{border-left:1px solid #E9E9E9 !important;}

/*pie rewrite*/
.vc-pie-info{
    height: 100%;
}
.vc-pie-inner{
	color: #888888;
	left: 0;
	margin-top: -10px;
	position: absolute;
	top: 50%;
	width: 100%;
}
.style2 .vc_wrap_header {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 42%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}
.vc-pie-inner h4,.vc_pie_chart_value{
	color:#888;
}

.vc-pie-inner i{
    font-size: 26px;
    line-height: 30px;
}
.vc-pie-hide-value{
    display: none!important;
}
.vc-pie-hide-icon{
    opacity: 0;
    font-size: 1px!important;
}
/*woo sidebar*/
.ww-woo-sidebar .ww-cart-product, .ww-woo-sidebar .ww-shop-search {
    display: none;
    position: absolute;
}
.ww-woo-sidebar ul li a {
    display: inline-block;
}
/*post image*/
.post-featured-img img{
    width: 100%;
    height: auto;
}
.ww_stick_header div.menu > ul > li > a{
	line-height:40px;
}
header .ww-header-transparent-whitemenu ul.level-0  .noo-nav.level0 > li,
header .ww-header-transparent ul.level-0  .noo-nav.level0 > li{border:none;}
header .ww-header-transparent-whitemenu  ul.level-0 > li a,
header .ww-header-transparent-whitemenu ul.level-0  .noo-nav.level0 > li a{color:#fff;}
header  .dropdown .caret {
    margin-top: 0;
}
