@-webkit-keyframes mk_scale{0%{-webkit-transform:scale(0.3);opacity:0.1;}
100%{-webkit-transform:scale(1);opacity:1;}
}
@-moz-keyframes mk_scale{0%{-moz-transform:scale(0.3);opacity:0.1;}
100%{-moz-transform:scale(1);opacity:1;}
}
@-o-keyframes mk_scale{0%{-o-transform:scale(0.3);opacity:0.1;}
100%{-o-transform:scale(1);opacity:1;}
}
@keyframes mk_scale{0%{transform:scale(0.3);opacity:0.1;}
100%{transform:scale(1);opacity:1;}
}
@-webkit-keyframes mk_fade{0%{opacity:0.1;}
100%{opacity:1;}
}
@-moz-keyframes mk_fade{0%{opacity:0.1;}
100%{opacity:1;}
}
@-o-keyframes mk_fade{0%{opacity:0.1;}
100%{opacity:1;}
}
@keyframes mk_fade{0%{opacity:0.1;}
100%{opacity:1;}
}
@-webkit-keyframes mk_left_to_right{0%{-webkit-transform:translate(-20px, 0);opacity:0;}
100%{-webkit-transform:translate(0, 0);opacity:1;}
}
@-moz-keyframes mk_left_to_right{0%{-moz-transform:translate(-20px, 0);opacity:0;}
100%{-moz-transform:translate(0, 0);opacity:1;}
}
@keyframes in-top {
  0% {
    top : -100%;
  }
  60%{
  top :10%;
  }
  100% {
    top:0;
  }
}
@-webkit-keyframes in-top {
  0% {
    top : -100%;
  }
  60%{
  top :10%;
  }
  100% {
    top:0;
  }
}
@keyframes in-right {
  0%  {
    right:-100%;
  }
  60%{
  right :10%;
  }
  100% {
    right:0;
  }
}
@-webkit-keyframes in-right {
  0%  {
    right:-100%;
  }
  60%{
  right :10%;
  }
  100% {
    right:0;
  }
}
@keyframes in-bottom {
  0%  {
    bottom:-100%;
  }
60%{
  bottom :10%;
  }
  100% {
    bottom:0;
  }
}
@-webkit-keyframes in-bottom {
  0%  {
    bottom:-100%;
  }
60%{
  bottom :10%;
  }
  100% {
    bottom:0;
  }
}
@keyframes in-left {
  0%  {
    left:-100%;
  }
60%{
  left :10%;
  }
  100% {
    left:0;
  }
}
@-webkit-keyframes in-left {
  0%  {
    left:-100%;
  }
60%{
  left :10%;
  }
  100% {
    left:0;
  }
}
@keyframes out-top {
  from {
    top:0;
  }
  100% {
    top:-100%;
  }
}
@-webkit-keyframes out-top {
  from {
    top:0;
  }
  100% {
    top:-100%;
  }
}
@keyframes out-right {
  0%  {
    right:0;
  }
  100% {
    right:-100%;
  }
}
@-webkit-keyframes out-right {
  0%  {
    right:0;
  }
  100% {
    right:-100%;
  }
}
@keyframes out-bottom {
  0%  {
    bottom:0;
  }
  100% {
    bottom:-100%;
  }
}
@-webkit-keyframes out-bottom {
  0%  {
    bottom:0;
  }
  100% {
    bottom:-100%;
  }
}
@keyframes out-left {
  0%  {
     left:0;
  }
  100%  {
    left:-100%;
  }
}
@-webkit-keyframes out-left {
  0%  {
     left:0;
  }
  100%  {
    left:-100%;
  }
}


@-o-keyframes mk_left_to_right{0%{-o-transform:translate(-20px, 0);opacity:0;}
100%{-o-transform:translate(0, 0);opacity:1;}
}
@keyframes mk_left_to_right{0%{transform:translate(-20px, 0);opacity:0;}
100%{transform:translate(0, 0);opacity:1;}
}
@-webkit-keyframes mk_right_to_left{0%{-webkit-transform:translate(20px, 0);opacity:0;}
100%{-webkit-transform:translate(0, 0);opacity:1;}
}
@-moz-keyframes mk_right_to_left{0%{-moz-transform:translate(20px, 0);opacity:0;}
100%{-moz-transform:translate(0, 0);opacity:1;}
}
@-o-keyframes mk_right_to_left{0%{-o-transform:translate(20px, 0);opacity:0;}
100%{-o-transform:translate(0, 0);opacity:1;}
}
@keyframes mk_right_to_left{0%{transform:translate(20px, 0);opacity:0;}
100%{transform:translate(0, 0);opacity:1;}
}
@-webkit-keyframes mk_bottom_to_top{0%{-webkit-transform:translate(0, 20px);opacity:0;}
100%{-webkit-transform:translate(0, 0);opacity:1;}
}
@-moz-keyframes mk_bottom_to_top{0%{-moz-transform:translate(0, 20px);opacity:0;}
100%{-moz-transform:translate(0, 0);opacity:1;}
}
@-o-keyframes mk_bottom_to_top{0%{-o-transform:translate(0, 20px);opacity:0;}
100%{-o-transform:translate(0, 0);opacity:1;}
}
@keyframes mk_bottom_to_top{0%{transform:translate(0, 20px);opacity:0;}
100%{transform:translate(0, 0);opacity:1;}
}
@-webkit-keyframes mk_top_to_bottom{0%{-webkit-transform:translate(0, -20px);opacity:0;}
100%{-webkit-transform:translate(0, 0);opacity:1;}
}
@-moz-keyframes mk_top_to_bottom{0%{-moz-transform:translate(0, -20px);opacity:0;}
100%{-moz-transform:translate(0, 0);opacity:1;}
}
@-o-keyframes mk_top_to_bottom{0%{-o-transform:translate(0, -20px);opacity:0;}
100%{-o-transform:translate(0, 0);opacity:1;}
}
@keyframes mk_top_to_bottom{0%{transform:translate(0, -20px);opacity:0;}
100%{transform:translate(0, 0);opacity:1;}
}
.animate-element{opacity:0;-webkit-perspective:1000;}
.skills.animate-element{opacity:1;}
.animate-element.start-animation.scale-up{-webkit-animation:mk_scale 0.5s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);-moz-animation:mk_scale 0.5s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);-o-animation:mk_scale 0.5s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);animation:mk_scale 0.5s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);opacity:1;}
.animate-element.start-animation.fade-in{-webkit-animation:mk_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);-moz-animation:mk_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);-o-animation:mk_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);animation:mk_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);opacity:1;}
.animate-element.start-animation.right-to-left{-webkit-animation:mk_right_to_left 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);-moz-animation:mk_right_to_left 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);-o-animation:mk_right_to_left 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);animation:mk_right_to_left 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);opacity:1;}
.animate-element.start-animation.left-to-right{-webkit-animation:mk_left_to_right 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);-moz-animation:mk_left_to_right 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);-o-animation:mk_left_to_right 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);animation:mk_left_to_right 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);opacity:1;}
.animate-element.start-animation.top-to-bottom{-webkit-animation:mk_top_to_bottom 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);-moz-animation:mk_top_to_bottom 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);-o-animation:mk_top_to_bottom 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);animation:mk_top_to_bottom 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);opacity:1;}
.animate-element.start-animation.bottom-to-top{-webkit-animation:mk_bottom_to_top 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);-moz-animation:mk_bottom_to_top 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);-o-animation:mk_bottom_to_top 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);animation:mk_bottom_to_top 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);opacity:1;}